@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SportClub.Models.LoginModel
@using Microsoft.AspNetCore.Http
@* box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em black;margin-left:-10px; *@
<form id="formLog">
  @using (Html.BeginForm())
    {
      @Html.AntiForgeryToken()
        <div style="background-color:rgb(80, 80, 80);  width: 275px;padding:10px">
   
        <span id="error-login1" style="color:red;display:none;">* @Resources.Resource.loginpassword</span>

        <div >
            @if (Context.Session.GetString("login") == null)
            {
                @Html.ValidationSummary(true, "")
                <div>
                        @Html.LabelFor(model => model.Login, new { @class = "whiteY" })
                    <div>
                            <input asp-for="Login" type="text" class="form-control" style="margin-left:-10px">                          
                        @Html.ValidationMessageFor(model => model.Login, "")
                    </div>
                </div>

                <div>
                        @Html.LabelFor(model => model.Password, new { @class = "whiteY" })
                        <div>
                            <input asp-for="Password" type="password" class="form-control" style="margin-left:-10px">
                        @Html.ValidationMessageFor(model => model.Password, "")
                    </div>
                </div>
            }
        </div>
        </div>
    }
</form>
<script>
    let focusl = function () {
        let l1 = document.getElementById("error-login1");
        l1.style.display = "none";
    }
</script>

   
