@model SportClub.Models.RegisterCoachModel
@using Microsoft.AspNetCore.Http
 
<div class="div_reg">
    <p class="font">Регистрация тренера </p> 
    <div class="row"> 
        <form id="registrationCoachForm" action="RegistrationCoach" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.AntiForgeryToken() 
            @Html.ValidationSummary(true, "")

     <div class="form-group" style="margin-left: 40px">
        @*  <div class="font form-control" style="width: 420px; color: white; border-color: none" >
                        @Html.EditorFor(model => model.Name,
                        new {AddHtmlAttributeValue = new {@class = "form-control"}})
                        </div> *@
                        <label asp-for="Name" class="control-label" style="color: white" class="font"></label>
                        <input asp-for="Name" type="text" class="form-control" name="name" id="name" class="font" style="width: 420px">
                        <span asp-validation-for="Name" class="text-danger" style="width: 450px"></span>
     </div>        
     <div class="form-group" style="margin-left: 40px">
                        @* <div class="font form-control" style="width: 420px; color: white; border-color: none" >
                        @Html.EditorFor(model => model.Login)
                        </div> *@
                        <label asp-for="Login" class="control-label"style="color: white" class="font"></label>
      <input asp-for="Login" type="text" class="form-control" name="login" id="login" style="width: 420px">
                        <span asp-validation-for="Login" class="text-danger" style="width: 450px"></span>
     </div>
                    <div class="form-group" style="margin-left: 40px">
                        <label asp-for="Password" class="control-label" style="color: white" class="font"></label>
      <input asp-for="Password" type="password" class="form-control" name="password" id="password" style="width: 420px">
                        <span asp-validation-for="Password" class="text-danger" style="width: 450px"></span>
     </div>
                    <div class="form-group" style="margin-left: 40px">
                        <label asp-for="PasswordConfirm" class="control-label" style="color: white; width: 200px" class="font"></label>
      <input asp-for="PasswordConfirm" type="password" class="form-control" name="passwordconf" id="password" style="width: 420px">
                        <span asp-validation-for="PasswordConfirm" class="text-danger" style="width: 450px"></span>
     </div>
                    <div class="form-group" style="margin-left: 40px">
                        <label asp-for="Email" class="control-label" style="color: white" class="font"></label>
      <input asp-for="Email" type="email" class="form-control" name="password" id="emailInput" style="width: 420px">
                        <span asp-validation-for="Email" class="text-danger" style="width: 450px"></span>
     </div>
                           <div class="form-group" style="margin-left: 40px">
                                <span style="color: white" class="font">@Resources.Resource.Photo</span><br />
                                <input style="color: white" type="file" name="p" accept=".jpg, .jpeg" /><br /><br />
                            </div>
                            <div class="form-group" style="margin-left: 40px">
                                <label style="color: white" class="font">@Resources.Resource.Post</label>
                                <select asp-for="PostId" class="form-control" asp-items="ViewBag.PostId" style="width: 420px"></select>
                                <span asp-validation-for="PostId" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="margin-left: 40px">
                                <label style="color: white" class="font">@Resources.Resource.Speciality</label>
                                <select asp-for="SpecialityId" class="form-control" asp-items="ViewBag.SpecialityId" style="width: 420px"></select>
                                <span asp-validation-for="SpecialityId" class="text-danger" style="width: 450px"></span>
                            </div>
                            <div class="form-group" style="margin-left: 40px">
                                <label asp-for="Phone" style="color: white" class="font">@Resources.Resource.Phone</label>
                                <input asp-for="Phone" class="form-control" placeholder="(097)-111 11 11" style="width: 420px" />
                                <span asp-validation-for="Phone" class="text-danger" style="width: 450px"></span>
                            </div>
                            <div class="form-group" style="margin-left: 40px">
                                <label style="color: white" class="font">@Resources.Resource.gender</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" asp-for="Gender" value="Мужской" id="male" />
                                    <label style="color: white" class="font" class="form-check-label" for="male">@Resources.Resource.man</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" asp-for="Gender" value="Женский" id="female" />
                                    <label style="color: white" class="font" class="form-check-label" for="female">@Resources.Resource.female</label>
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 40px">
                                <label style="color: white" class="font">@Resources.Resource.DateB</label><br />
                                <input type="date" asp-for="DateOfBirth" /><br />
                                <span asp-validation-for="DateOfBirth" class="text-danger" style="width: 450px"></span>
                            </div>
                            <div class="form-group" style="margin-left: 40px">
                                <label style="color: white" class="font">@Resources.Resource.Description</label>
                                <textarea asp-for="Description" style="width: 420px"></textarea>
                                <span asp-validation-for="Description" class="text-danger" style="width: 450px"></span><br />
                            </div>
                            <br />
                            <br />
                            <div class="form-group" style="margin-left: 200px">
                                <button type="submit" class="btn btn-primary font y" style="color: black">@Resources.Resource.Confirm</button><br /><br />
                            </div>

                       
        </form>
     </div>
 </div>
    
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <script>
        $(document).ready(function () {

        $("#login").on("change", function (e) {
            let log = e.target.value;
            let r = true;
            $.getJSON('/Login/IsLoginIn', function (data) {
                $.each(data, function (key, val) {
                    if (log == val) {
                        $("#log").css("display", "block");
                        r = false;
                    }
                    if (r) {
                        $("#log").css("display", "none");
                    }
                })
            });
        });


        $('#emailInput').on('blur', function () {
            var email = $(this).val();
            $.get('/Login/IsEmailInUse', { email: email }, function (data) {
                if (data === true) {
                    $('#emailStatus').text('Email уже занят.');
                }
            });
        });
    });
</script>
