@model SportClub.Models.RegisterCoachModel
@using Microsoft.AspNetCore.Http
 
<h4 class="whiteY" style="text-align:center;padding:5px; box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em black; width: 1000px; margin: auto; margin-bottom: 10px;">
    @Resources.Resource.RegisterCoach
</h4>
<div class="container1">
    <form id="registrationForm" action="RegistrationCoach" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "")

        <div class="row" style="padding-top: 30px;">
            <div class="column">
                <div class="form-group" style="margin-left: 40px">
                    <label asp-for="Name" class="control-label font white-color_size20 color_text"></label>
                    <input asp-for="Name" type="text" class="form-control font" style="width: 420px">
                    <span asp-validation-for="Name" class="text-danger" style="width: 450px"></span>
                </div>

                <div class="form-group" style="margin-left: 40px">
                    <label asp-for="Login" class="control-label font white-color_size20 color_text"></label>
                    <input asp-for="Login" type="text" class="form-control" id="login" style="width: 420px" autocomplete="off">
                    <span asp-validation-for="Login" class="text-danger" style="width: 450px"></span>
                </div>

                <div class="form-group" style="margin-left: 40px">
                    <label asp-for="Password" class="control-label font white-color_size20 color_text"></label>
                    <input asp-for="Password" type="password" class="form-control" style="width: 420px" autocomplete="off">
                    <span asp-validation-for="Password" class="text-danger" style="width: 450px"></span>
                </div>

                <div class="form-group" style="margin-left: 40px">
                    <label asp-for="PasswordConfirm" style=" width: 200px" class="control-label font white-color_size20 color_text"></label>
                    <input asp-for="PasswordConfirm" type="password" class="form-control" style="width: 420px">
                    <span asp-validation-for="PasswordConfirm" class="text-danger" style="width: 450px"></span>
                </div>

                <div class="form-group" style="margin-left: 40px">
                    <label asp-for="Email" class="control-label font white-color_size20 color_text"></label>
                    <input asp-for="Email" type="email" class="form-control" id="emailInput" style="width: 420px">
                    <span asp-validation-for="Email" class="text-danger" style="width: 450px"></span>
                </div>

                <div class="form-group" style="margin-left: 40px">
                    <span class="white-color_size20 font color_text">@Resources.Resource.Photo</span><br />
                    <input class="white-color_size20" type="file" name="p" accept=".jpg, .jpeg, .png" /><br />
                </div>

                <div class="form-group" style="margin-left: 40px">
                    <label class="font white-color_size20 color_text">@Resources.Resource.Post</label>
                    <select asp-for="PostId" class="form-control" asp-items="ViewBag.PostId" style="width: 420px"></select>
                    <span asp-validation-for="PostId" class="text-danger"></span>
                </div>
            </div>

            <div class="column">
                <div class="form-group" style="margin-left: 10px">
                    <label class="font white-color_size20 color_text">@Resources.Resource.Speciality</label>
                    <select asp-for="SpecialityId" class="form-control" asp-items="ViewBag.SpecialityId" style="width: 420px"></select>
                    <span asp-validation-for="SpecialityId" class="text-danger" style="width: 450px"></span>
                </div>

                <div class="form-group" style="margin-left: 10px">
                    <label asp-for="Phone" class="font white-color_size20 color_text">@Resources.Resource.Phone</label>
                    <input asp-for="Phone" class="form-control" placeholder="+380973456789" style="width: 420px" />
                    <span asp-validation-for="Phone" class="text-danger" style="width: 450px"></span>
                </div>

                <div class="form-group" style="margin-left: 10px">
                    <label class="font white-color_size20 color_text">@Resources.Resource.gender</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="Gender" value="Мужской" id="male" />
                        <label class="font form-check-label white-color_size20 color_text" for="male">@Resources.Resource.man</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="Gender" value="Женский" id="female" />
                        <label class="font form-check-label white-color_size20 color_text" for="female">@Resources.Resource.female</label>
                    </div>
                    <span asp-validation-for="Gender" class="text-danger" style="width: 450px"></span>
                </div>

                <div class="form-group" style="margin-left: 10px">
                    <label class="font white-color_size20 color_text">@Resources.Resource.DateB</label><br />
                    <input class="form-control font" style="width: 420px" asp-for="DateOfBirth" />
                    <span asp-validation-for="DateOfBirth" class="text-danger" style="width: 450px"></span>
                </div>

                <div class="form-group" style="margin-left: 10px">
                    <label class="font white-color_size20 color_text">@Resources.Resource.Description</label>
                    <textarea asp-for="Description" style="width: 420px"></textarea>
                    <span asp-validation-for="Description" class="text-danger" style="width: 450px"></span><br />
                </div>
            </div>
        </div>
        <br />
        <div class="form-group" style="margin-left: 420px;">
            <button type="submit" class="btn btn-outline-light buttonsGY"><b>@Resources.Resource.Confirm</b></button><br /><br />
        </div>
        <br />
    </form>
</div>

    
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <script>
        $(document).ready(function () {

        $("#login").on("change", function (e) {
            let log = e.target.value;
            let r = true;
            $.getJSON('/Login/IsLoginIn', function (data) {
                $.each(data, function (key, val) {
                    if (log == val) {
                        $("#log").css("display", "block");
                        r = false;
                    }
                    if (r) {
                        $("#log").css("display", "none");
                    }
                })
            });
        });


        $('#emailInput').on('blur', function () {
            var email = $(this).val();
            $.get('/Login/IsEmailInUse', { email: email }, function (data) {
                if (data === true) {
                    $('#emailStatus').text('Email уже занят.');
                }
            });
        });
    });
</script>
