@model SportClub.BLL.DTO.CoachDTO


@{
    ViewData["Title"] = "Details";
}
<div>
    <div style="width:max-content;margin: 10px auto 10px auto;">
        <h4 class="whiteY" style="text-align:center;padding:5px; box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em black;">
            @Resources.Resource.Details
        </h4>
        <div class="div_reg">
           
            <br />
            <div class="row">
                <div>

                    <div class="row">
                        <div>
                            <img src=@Model.Photo width="130" height="130" alt="photo1" style="padding:20px;margin-left:30px" />
                        </div>
                        <div style="width: 500px;  justify-content: center; ">
                            <div class="form-group" style="margin-left: 40px">
                                <label asp-for="Name" class="control-label font  whiteY" > @Resources.Resource.Name</label>
                                <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.Name)</h1>
                            </div>
                            <div class="form-group" style="margin-left: 40px">

                                <label asp-for="Login" class="control-label font  whiteY" > @Resources.Resource.loginN</label>
                                <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.Login)</h1>
                            </div>

                            <div class="form-group" style="margin-left: 40px">
                                <label asp-for="Email" class="control-label font  whiteY" > @Resources.Resource.email</label>
                                <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.Email)</h1>
                            </div>

                            <div class="form-group" style="margin-left: 40px">
                                <label asp-for="Phone"  class="control-label font  whiteY"> @Resources.Resource.Phone</label>
                                <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.Phone)</h1>
                            </div>
                        </div>

                        <div class="form-group" style="margin-left: 40px">
                            <label asp-for="Gender" class="control-label font  whiteY" > @Resources.Resource.gender</label>
                            <h1 class="form-control p1" style="width: 420px;height: 33px">@Html.DisplayFor(model => model.Gender)</h1>
                        </div>

                        <div class="form-group" style="margin-left: 40px">
                            <label asp-for="DateOfBirth" class="control-label font  whiteY" > @Resources.Resource.DateB</label>
                            <h1 class="form-control p1" style="width: 420px;height: 33px">@Html.DisplayFor(model => model.DateOfBirth)</h1>
                        </div> <br />
                        <div class="form-group" style="margin-left: 40px">
                            <label class="font whiteY">@Resources.Resource.Description</label>
                            <textarea asp-for="Description" style="width: 420px" readonly></textarea>
                            <span asp-validation-for="Description" class="text-danger" style="width: 450px"></span><br />
                        </div><br />
                        <div style="margin: 10px auto 25px auto;width: max-content;">
                            <a class="btn btn-primary buttonsGY" asp-controller="Coach" asp-action="Edit" asp-route-id="@Model?.Id"> @Resources.Resource.Edit</a>
                            <a class="btn btn-primary buttonsGY" asp-action="GetCoaches" asp-controller="Coach"> @Resources.Resource.Back </a>
                        </div>
                        <br /><br />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
