@model SportClub.BLL.DTO.TrainingGroupDTO


@{
    ViewData["Title"] = "Details";
}


<div class="div_reg">
    <p class="font" style="font-size: 32px; color: white; padding-top: 30px; text-align: center">
        Details training group
    </p>
    @* <p class="font" style="font-size: 22px; color: white; text-align: center"> Вы действительно желаете удалить<br /> группу? </p> *@

    <div class="row">
        <div>

            <div class="row">
                <div style="width: 500px;  justify-content: center; ">
                    <div class="form-group" style="margin-left: 40px">
                        <label asp-for="Name" class="control-label font  white-color_size20" style="color: white"></label>
                        <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.Name)</h1>
                    </div>
           

                    <div class="form-group" style="margin-left: 40px">
                        <label asp-for="CoachName" class="control-label font  white-color_size20" style="color: white"></label>
                        <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.CoachName)</h1>
                    </div>

                    <div class="form-group" style="margin-left: 40px">
                        <label asp-for="RoomName" class="control-label font  white-color_size20" style="color: white"></label>
                        <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.RoomName)</h1>
                    </div>

                    <div class="form-group" style="margin-left: 40px">
                        <label asp-for="SpecialityName" class="control-label font  white-color_size20" style="color: white"></label>
                        <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.SpecialityName)</h1>
                    </div>

                    <div class="form-group" style="margin-left: 40px">
                        <label asp-for="GroupName" class="control-label font  white-color_size20" style="color: white"></label>
                        <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.GroupName)</h1>
                    </div>

                    @* <div class="form-group" style="margin-left: 40px">
                        <label asp-for="TimeId" class="control-label font  white-color_size20" style="color: white"></label>
                        <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.TimeName)</h1>
                    </div> *@
                </div><br />


                <div style="margin: 10px auto 25px auto;width: max-content;">
                    <a class="btn btn-outline-light" asp-controller="TrainingGroup" asp-action="EditTrainingGroup" asp-route-id="@Model?.Id">Edit</a>
                    <a class="btn btn-outline-light" asp-action="GetTrainingGroups" asp-controller="TrainingGroup">Back to List</a>
                </div>
                <br /><br />
            </div>

        </div>
    </div>
</div>