@model SportClub.BLL.DTO.GroupDTO


@{
    ViewData["Title"] = "EditGroup";
}

<div class="div_reg">
    <p class="font">Редактирование группы </p>
    <div class="row">
        <form id="EditGroup" asp-action="EditGroup" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "")

            <div class="form-group" style="margin-left: 40px">

                <label asp-for="Name" class="control-label font white-color_size20"></label>
                <input asp-for="Name" type="text" class="form-control font" style="width: 420px">
                <span asp-validation-for="Name" class="text-danger" style="width: 450px"></span>
            </div>

            <div class="form-group" style="margin-left: 40px">

                <label asp-for="Number" class="control-label font white-color_size20"></label>
                <input asp-for="Number" type="number" class="form-control" style="width: 420px">
                <span asp-validation-for="Number" class="text-danger" style="width: 450px"></span>
            </div>

            <div class="form-group" style="margin-left: 40px">
                <label class="font white-color_size20">@Resources.Resource.Post</label>
                <select asp-for="CoachId" class="form-control" asp-items="ViewBag.CoachListId" style="width: 420px"></select>
                <span asp-validation-for="CoachId" class="text-danger"></span>
            </div>

            @* <div class="form-group" style="margin-left: 40px">
                <label class="font white-color_size20">@Resources.Resource.Post</label>
                <select class="form-control" asp-items="ViewBag.UsersLId" style="width: 420px;height:36px"></select>
                <span class="text-danger"></span>
            </div> *@
            <div class="form-group" style="margin-left: 40px">
                <label class="font white-color_size20">@Resources.Resource.Post</label>
                <select asp-for="UsersId" class="form-control" asp-items="ViewBag.UsersListId" style="width: 420px;height:36px"></select>
                <span asp-validation-for="UsersId" class="text-danger"></span>
            </div>


            <br />
            <div class="form-group" style="margin-left: 200px">
                <button type="submit" class="btn btn-primary font y">@Resources.Resource.Confirm</button><br /><br />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@* <script>
    $(document).ready(function () {

        $('#emailInput').on('blur', function () {
            var email = $(this).val();
            $.get('/Login/IsEmailInUse', { email: email }, function (data) {
                if (data === true) {
                    $('#emailStatus').text('Email уже занят.');
                }
            });
        });
    });
</script>  *@