@model SportClub.BLL.DTO.TrainingGroupDTO//
<div class="flex" style="justify-content:space-around;">
    <div>
    <div class="div_reg2" style="background-color:dimgray">
        <a class="btn btn-outline-light whiteY" asp-route-RoomId="@Model?.RoomId" asp-action="RoomWithShedule" asp-controller="Time">X</a>
    </div>
    </div>
    <div class="div_reg2 " id="addUsers" style="width:500px;">
    <h3 class="font whiteY" style="text-align:center">@Resources.Resource.GroupTraining</h3>
    <div class="row">

        <form asp-action="AddUsersToTrainingGroup" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "")
            <input name="trgroupId" type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="Number" />
            <div>
                <div class="form-group" style="margin-left: 40px">
                        <label id="count_add" class="control-label font  white-color_size20 whiteY" style="font-size:22px"></label>

                </div>
                    <div class="padd" style="width:231px;float:right;margin-right:20px;">
                        <label class="whiteY">@Resources.Resource.Users</label>
                        <br />
                        <select id="list1" size="8" style="height:224px" class="form-control card _c7" asp-items="ViewBag.UsersList"></select>
                    </div>
                <div class="padd" style="width:229px;margin-left: 20px;float:left">
                    <h4 class="whiteY">@Resources.Resource.GrTr</h4>
                    <select name="UsersList" multiple asp-for="UsersId" size="8" id="list2" class="form-control card _c7" asp-items="ViewBag.UserstableId"></select>
                    <span id="spn1t" asp-validation-for="UsersId" class="text-danger"></span>
                </div>
                </div>
                <div style="margin: 10px auto 10px auto;width: max-content;">
                
                    <input style="min-width:300px" id="AddUsersToTable" type="button" value="@Resources.Resource.AddSong" class="btn btn-primary  buttonsGY" />

                </div>
           

            <div style="margin: 10px auto 10px auto;width: max-content;">
                    <button id="btnsub1" asp-route-roomId="@Model.RoomId" asp-route-trgroupId="@Model.Id" style="min-width:300px" type="submit" class="btn btn-primary font y buttonsGY">@Resources.Resource.Confirm</button>
                
               @*  <a asp-action="RoomWithShedule" asp-controller="Time" style="margin-left: 10px;" class="btn btn-outline-light">Back to List</a><br /> *@
            </div>
                <div style="margin: 10px auto 10px auto;width: max-content;">
                    <a id="buttonEdit" class="btn btn-outline-light buttonsGY" style="min-width:300px">@Resources.Resource.DelSong</a>
            </div>
                @*  <a asp-area="" asp-route-Id="@Model.Id" asp-controller="Time" asp-action="DetailsTrainingGroup" class="a_button_green">@Resources.Resource.Edit</a> *@
        </form>
           
          @*   <button id="buttonDelete" class="buttonsGY">@Resources.Resource.Delete &nbsp;&nbsp;группу</button> *@
    </div>
   </div>
        <div class="div_reg" style="width:365px;display:none" id="deleteUserFromTr" >
        <p style="font-size:22px;color:#EEE8AA" class="font whiteY">@Resources.Resource.AddedArtist<br /> @Resources.Resource.AddedSong</p>
            <div class="row">

                <form asp-action="DeleteUsersInTrainingGroup" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.AntiForgeryToken()
                    <div>
                        <div class="padd" style="width:329px;margin-left: 20px;float:left">
                        <h5 class="whiteY">@Resources.Resource.Users&nbsp;&nbsp;@Resources.Resource.GroupTraining</h5>
                            <select name="UsersId" asp-for="UsersId" size="10" id="list11" class="form-control card _c7" asp-items="ViewBag.UserstableId"></select>
                            <span id="spn1t" asp-validation-for="UsersId" class="text-danger"></span>
                        </div>

                    </div>

                    <div style="margin: 10px auto 10px auto;width: max-content;">
                    <a href="javascript:void(0)" class="btn1n btn  btn-outline-light buttonsGY btnDelTR" id="@Model.Id">@Resources.Resource.DelSong</a>
                        @* <button id="btnsub1" asp-route-roomId="@Model." asp-route-trgroupId="@Model.Id" style="height: 38px;" type="submit" class="btn btn-primary font y">@Resources.Resource.Confirm</button> *@
                        <a  id="btc" style="margin-left: 10px;" class="btn btn-outline-light buttonsGY">@Resources.Resource.Cancel</a><br />
                    </div><br />
                </form>
            </div>
        </div>
    

  <div class="div_reg2 "  id="detailsGroup" style="width:500px;">
    <p class="font whiteY" style="font-size: 32px; padding-top: 30px; text-align: center">
            @Resources.Resource.GroupTraining
    </p>  

    <div class="row">
        <div>

            <div class="row">
                <div style=" justify-content: center; ">

                    <input type="hidden" asp-for="Id" />

                    <div class="form-group" style="margin-left: 40px">
                            <label asp-for="CoachName" class="control-label font  white-color_size20 whiteY">@Resources.Resource.Album</label>
                        <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.CoachName)</h1>
                    </div>

                    <div class="form-group" style="margin-left: 40px">
                            <label asp-for="RoomName" class="control-label font  white-color_size20 whiteY">@Resources.Resource.Rooms</label>
                        <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.RoomName)</h1>
                    </div>

                    <div class="form-group" style="margin-left: 40px">
                          @*   <label asp-for="DayName" class="control-label font  white-color_size20 whiteY" ></label> *@
                        <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.DayName)</h1>
                    </div>
                        <div class="form-group" style="margin-left: 40px">
                            @*  <label asp-for="Time" class="control-label font  white-color_size20 whiteY" ></label> *@
                            <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.Time)</h1>
                        </div>

                    <div class="form-group" style="margin-left: 40px">
                            <label asp-for="Number" class="control-label font  white-color_size20 whiteY">@Resources.Resource.number</label>
                        <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.Number)</h1>
                    </div>

                  
                </div><br />


                <div style="margin: 10px auto 25px auto;width: max-content;">
                       @*  <a class="btn btn-outline-light buttonsGY" asp-controller="Time" asp-action="DeleteTrainingGroup" asp-route-id="@Model?.Id" style="min-width:300px">@Resources.Resource.Delete</a> *@
                        <a class="btn btn-outline-light buttonsGY" id="btd" style="min-width:300px">@Resources.Resource.Delete</a>
                </div>
                <br /><br />
            </div>

        </div>
    </div>
  </div>


   <div  style="display:none;margin-left:-300px;" id="deleteGroup" >
      
            <div class=" padd div_reg2">
                
                <h1 class="font whiteY" style="font-size: 22px;  text-align: center"> @Resources.Resource.Confirmdeletion? </h1>

                <div class="row">
                   

                            <div style="margin: 10px auto 10px auto;width: max-content;">
                                <form method="post" asp-action="DeleteTrainingGroup" asp-controller="Time" >
                                     
                                    <input type="hidden" asp-for="Id" name="id" />
                                    <div class="=flex" style="justify-content:space-around">
                                    <input class="btn btn-outline-light buttonsGY" style="min-width:120px;" type="submit" value="@Resources.Resource.Confirmdeletion" />
                        <a class="btn btn-outline-light buttonsGY" style="min-width:120px;" id="btc1">@Resources.Resource.Cancel</a>
                </div>
                    </form>
                               
                            </div><br />
                        
                </div>
            </div>
        
  </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        let num = @Model.Number - @Model.UsersId.Count;

        $('#count_add').text("Количество свободных мест: " + num);


        $('#btnsub1').click(function () {
            $("#list2").focus();
            $('#list2 option').prop('selected', true);
        });

        $('#btncancel').on('click', function () {
            
            if (!$("#list2 option:last").text().includes("~")) {
                $("#list2 option:last").remove();
                let num = @Model.Number - @Model.UsersId.Count;
                $('#count_add').text("Количество свободных мест: " + num);
                $('#AddUsersToTable').removeAttr('disabled');
            }
            
        });

        $('#btc').on('click', function () {
            $('#addUsers').css('display', 'block');
            $('#deleteUserFromTr').css('display', 'none');
            
        });
        $('#btd').on('click', function () {
            $('#addUsers').css('display', 'none');
            $('#deleteUserFromTr').css('display', 'none');
            $('#detailsGroup').css('display', 'none');
            $('#deleteGroup').css('display', 'block');

        });
        $('#btc1').on('click', function () {
            $('#addUsers').css('display', 'block');
            $('#deleteUserFromTr').css('display', 'none');
            $('#detailsGroup').css('display', 'block');
            $('#deleteGroup').css('display', 'none');

        });

        $('#AddUsersToTable').click(function () {
            let selectedOptionval = $("#list1 option:selected").val();
            let selectedOptiontext = $("#list1 option:selected").text();

            var isExists = false;
            $('#list2 option').each(function () {// Проверяем все option на наличие такого же значения
                if ($(this).val() === selectedOptionval) {
                    isExists = true;
                    return false; // Прерываем цикл, если нашли совпадение
                }
            });
            if ($('#list2 option').length != (@Model.Number - @Model.UsersId.Count) + 1) {
                if (isExists) {
                    alert('Пользователь уже добавлен!');
                } else {
                    $('#spn1t').text("");
                    $('#list2').append('<option value="' + selectedOptionval + '">' + selectedOptiontext + '</option>');
                    $("#list2").focus();
                    $('#list2 option').prop('selected', true);

                    let num = @Model.Number - @Model.UsersId.Count;
                    $('#count_add').text("Количество свободных мест: " + num);
                }
            } else if ($('#list2 option').length == @Model.Number) {
                $('#AddUsersToTable').attr('disabled', 'disabled');
            }
        });

        $('#buttonEdit').on('click', function () {
            $('#addUsers').css('display','none');
            $('#deleteUserFromTr').css('display', 'block');
           
        });
        $('#buttonDelete').on('click', function () {
            $('#deleteGroup').css('display', 'block');
            $('#addUsers').css('display', 'none');
        });

        $(".btnDelTR").click(function () {
            var buttonId = $(this).attr('id');
            let selectedOptionval = $("#list11 option:selected").val();
            var puth = "/Users/DeleteUserInTrGroupAction/" + buttonId;
            $("<div id='dialogContent3'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(puth)
                .dialog({
                    title: '@Html.Raw(@Resources.Resource.Delete)?',
                    close: function () { $(this).remove(); },
                    dialogClass: 'myTitleClass',
                    modal: true,
                    width: "455px",
                    resizable: false,
                    buttons: [{
                        class: "input_subm3",//
                        text: '@Html.Raw(@Resources.Resource.Delete)',
                        click: function () {
                            $.ajax({
                                url: "@Url.Action("ConfirmDeleteUserInTrGroupAction", "Users")",
                                type: "POST",
                                data: { id: buttonId, UserId: selectedOptionval },
                                datatype: "json",
                                success: function (response) {

                                    if (response) {
                                        $("#dialogContent3").remove();
                                        $("<div id='dialogContent4'></div>")
                                            .addClass("dialog")
                                            .appendTo("body")
                                            .load("/Admin/AddedPost")
                                            .dialog({
                                                title: '@Html.Raw(@Resources.Resource.Sucsess)',
                                                close: function () { window.location.href = "@Url.Action("Index", "Home")"; },
                                                dialogClass: 'myTitleClass',
                                                modal: true,
                                                resizable: false,
                                                buttons: [{
                                                    class: "input_subm3",//
                                                    text: '@Html.Raw(@Resources.Resource.Exit)',
                                                    click: function () {
                                                        window.location.href = "@Url.Action("Index", "Home")";
                                                       
                                                    }
                                                }],
                                                open: function (event, ui) {
                                                    StyleDialog($(this).closest(".ui-dialog"));
                                                }
                                            });
                                    }
                                    else {
                                        let l2 = document.getElementById("error-login1");
                                        l2.style.display = "inline";
                                    }
                                }
                            });
                        }
                    }],
                    open: function (event, ui) {
                        StyleDialog($(this).closest(".ui-dialog"));
                    }
                });
        });

        function StyleDialog(dialog) {
            dialog
                .find(".ui-dialog-titlebar")
                .css({
                    "background-color": "rgb(80, 80, 80)", // Фон заголовка
                    "color": "#EEE8AA"
                });
            dialog
                .css({
                    "box-shadow": "inset 0 - 3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em black",
                    "border-radius": "5px",
                    "background-color": "rgb(80, 80, 80)",
                    "background - image": "url('~/Coaches/фон5.jpg')"

                });
            dialog
                .find(".ui-dialog-content")
                .css({
                    "background-color": "rgb(80, 80, 80)",
                    "background - image": "url('~/Coaches/фон5.jpg')"
                });
            dialog
                .css({
                    "border": "none",
                    "background-color": "rgb(80, 80, 80)",
                    "background - image": "url('~/Coaches/фон5.jpg')"
                });
            dialog
                .find(".ui-dialog-buttonpane")
                .css({
                    "border-width": "0px",
                    "background-color": "rgb(80, 80, 80)",
                    "background - image": "url('~/Coaches/фон5.jpg')"
                });
        }

    });
</script>
