@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SportClub.BLL.DTO.UserDTO
<div class="div_reg">
    <p class="font" style="font-size: 32px; color: white; padding-top: 30px; text-align: center">
        Удаление пользователя </p>
    <p class="font" style="font-size: 22px; color: white; text-align: center"> Вы действительно желаете удалить<br /> пользователя? </p>

    <div class="row">
        <div>
            
            <div class="row">
                <div style="width: 500px;  justify-content: center; ">
                    <div class="form-group" style="margin-left: 40px">
                        <label asp-for="Name" class="control-label font  white-color_size20" style="color: white"></label>
                        <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.Name)</h1>
                    </div>
                    <div class="form-group" style="margin-left: 40px">

                        <label asp-for="Login" class="control-label font  white-color_size20" style="color: white"></label>
                        <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.Login)</h1>
                    </div>

                    <div class="form-group" style="margin-left: 40px">
                        <label asp-for="Email" class="control-label font  white-color_size20" style="color: white"></label>
                        <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.Email)</h1>
                    </div>

                    <div class="form-group" style="margin-left: 40px">
                        <label asp-for="Phone" style="color: white" class="control-label font  white-color_size20"></label>
                        <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.Phone)</h1>
                    </div>
                </div>

                <div class="form-group" style="margin-left: 40px">
                    <label asp-for="DateOfBirth" class="control-label font  white-color_size20" style="color: white"></label>
                    <h1 class="form-control p1" style="width: 420px;height: 33px">@Html.DisplayFor(model => model.DateOfBirth)</h1>
                </div> <br />
 

                <div style="margin: 10px auto 10px auto;width: max-content;">
                    <form method="post" asp-action="Delete" asp-controller="Users"
                          style="width: max-content; float: left;height: 38px;">
                        <input type="hidden" asp-for="Id" name="id" />
                        <input class="input_subm_del font y" style="height: 38px;" type="submit" value="УДАЛИТЬ" />
                    </form>
                    <a asp-action="GetClients" asp-controller="Users" style="margin-left: 10px;" class="btn btn-outline-light">Back to List</a>
                </div><br />
            </div>

        </div>
    </div>
</div>
 