@model SportClub.BLL.DTO.TrainingGroupDTO//

<div class="div_reg" style="width:365px">
    <p style="font-size:22px" class="font">Виберите клиента для удаления<br /> из груповой тренировки</p>
    <div class="row">

        <form asp-action="DeleteUsersInTrainingGroup" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.AntiForgeryToken() 
            <div>
                <div class="padd" style="width:329px;margin-left: 20px;float:left">
                    <h5 class="white">Пользователи&nbsp;групповой тренировки:</h5>
                    <select name="UsersId" asp-for="UsersId" size="10" id="list1" class="form-control card _c7" asp-items="ViewBag.UserstableId"></select>
                    <span id="spn1t" asp-validation-for="UsersId" class="text-danger"></span>
                </div>
               
            </div>

            <div style="margin: 10px auto 10px auto;width: max-content;">
                <a href="javascript:void(0)" class="btn1n btn  btn-outline-light buttons btnDelTR" id="@Model.Id" style="background-color:coral;color:white">Удаление клиентов</a>
                @* <button id="btnsub1" asp-route-roomId="@Model." asp-route-trgroupId="@Model.Id" style="height: 38px;" type="submit" class="btn btn-primary font y">@Resources.Resource.Confirm</button> *@
                <a asp-action="RoomWithShedule" asp-controller="Time" style="margin-left: 10px;" class="btn btn-outline-light">Back to List</a><br />
            </div><br /> 
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".btnDelTR").click(function () {
            var buttonId = $(this).attr('id');
            let selectedOptionval = $("#list1 option:selected").val();
            var puth = "/Users/DeleteUserInTrGroupAction/" + buttonId;
            $("<div id='dialogContent3'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(puth)
                .dialog({
                    title: "Подтверждение удаления!",
                    close: function () { $(this).remove(); },
                    dialogClass: 'myTitleClass',
                    modal: true,
                    width: "455px",
                    resizable: false,
                    buttons: [{
                        class: "input_subm3",//
                        text: "Удалить",
                        click: function () {
                            $.ajax({
                                url: "@Url.Action("ConfirmDeleteUserInTrGroupAction", "Users")",
                                type: "POST",
                                data: { id: buttonId, UserId: selectedOptionval },
                                datatype: "json",
                                success: function (response) {

                                    if (response) {
                                        $("#dialogContent3").remove();
                                        $("<div id='dialogContent4'></div>")
                                            .addClass("dialog")
                                            .appendTo("body")
                                            .load("/Admin/AddedPost")
                                            .dialog({
                                                title: "Удалено!",
                                                close: function () { window.location.href = "@Url.Action("Index", "Home")"; },
                                                dialogClass: 'myTitleClass',
                                                modal: true,
                                                resizable: false,
                                                buttons: [{
                                                    class: "input_subm3",//
                                                    text: "Назад",
                                                    click: function () {
                                                        window.location.href = "@Url.Action("Index", "Home")";
                                                    }
                                                }],
                                                open: function (event, ui) {
                                                    StyleDialog($(this).closest(".ui-dialog"));
                                                }
                                            });
                                    }
                                    else {
                                        let l2 = document.getElementById("error-login1");
                                        l2.style.display = "inline";
                                    }
                                }
                            });
                        }
                    }],
                    open: function (event, ui) {
                        StyleDialog($(this).closest(".ui-dialog"));
                    }
                }); 
        });

        function StyleDialog(dialog) {
            dialog
                .find(".ui-dialog-titlebar")
                .css({
                    "background-color": "#374566", // Фон заголовка
                    "color": "white" // Цвет текста заголовка black
                });
            dialog
                .css({
                    "box-shadow": "inset 0 - 3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em black",
                    "border-radius": "10px",
                    "border": "solid 1px #374566",
                    "background-color": "#374566"
                });
            dialog
                .find(".ui-dialog-content")
                .css({
                    "background-color": "#374566"
                });
            dialog
                .find(".ui-widget-content")
                .css({
                    "border": "none",
                    "background-color": "#374566",
                    "color": "white", // Цвет текста заголовка black
                    "padding-left": "15px"
                });
            dialog
                .find(".ui-dialog-buttonpane")
                .css({
                    "border-width": "0px",
                    "background-color": "#374566"
                });
        }
    });
</script>