@model SportClub.BLL.DTO.UserDTO


@{
    ViewData["Title"] = "Details";
}
<div>
    <div style="width:max-content;margin: 10px auto 10px auto;">
        <h4 class="whiteY" style="text-align:center;padding:5px; box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em black;">
             @Resources.Resource.Details
        </h4>
        <div class="div_reg">
           
            <br />
            <div class="row">
                <div>

                    <div class="row">
                        <div style="width: 500px;  justify-content: center; ">
                            <div class="form-group" style="margin-left: 40px">
                                <label asp-for="Name" class="control-label font  white-color_size20" style="color: #EEE8AA"> @Resources.Resource.Name</label>
                                <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.Name)</h1>
                            </div>
                            <div class="form-group" style="margin-left: 40px">

                                <label asp-for="Login" class="control-label font  white-color_size20" style="color: #EEE8AA"> @Resources.Resource.loginN</label>
                                <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.Login)</h1>
                            </div>

                            <div class="form-group" style="margin-left: 40px">
                                <label asp-for="Email" class="control-label font  white-color_size20" style="color: #EEE8AA"> @Resources.Resource.email</label>
                                <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.Email)</h1>
                            </div>

                            <div class="form-group" style="margin-left: 40px">
                                <label asp-for="Phone" style="color: white" class="control-label font  white-color_size20"> @Resources.Resource.Phone</label>
                                <h1 class="form-control p1" style="width: 420px">@Html.DisplayFor(model => model.Phone)</h1>
                            </div>
                        </div>

                        <div class="form-group" style="margin-left: 40px">
                            <label asp-for="Gender" class="control-label font  white-color_size20" style="color: #EEE8AA"> @Resources.Resource.gender</label>
                            <h1 class="form-control p1" style="width: 420px;height: 33px">@Html.DisplayFor(model => model.Gender)</h1>
                        </div>

                        <div class="form-group" style="margin-left: 40px">
                            <label asp-for="DateOfBirth" class="control-label font  white-color_size20" style="color: #EEE8AA"> @Resources.Resource.DateB</label>
                            <h1 class="form-control p1" style="width: 420px;height: 33px">@Html.DisplayFor(model => model.DateOfBirth)</h1>
                        </div> <br />

                        <div style="margin: 10px auto 25px auto;width: max-content;">
                            <a class="btn btn-primary buttonsGY" asp-controller="Users" asp-action="Edit" asp-route-id="@Model?.Id"> @Resources.Resource.Edit</a>
                            <a class="btn btn-primary buttonsGY" asp-action="GetClients" asp-controller="Users"> @Resources.Resource.Back</a>
                        </div>
                        <br /><br />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>