
@model MakeSheduleView
@{
    ViewData["Title"] = "Timetables";
}

<div class="div_reg2 flex" style="justify-content:space-around;border:2px solid dimgray">


    <div style="padding-top:15px;">
        <a class="btn btn-outline-dark buttonsGY" style="padding:2px;border-radius:5px;min-width:120px;text-align:center;max-height:30px;" asp-area="" asp-controller="Users" asp-action="BackToRooms" class="btn btn-primary padd1 buttonsGY">@Resources.Resource.Back</a>
    </div>
    <div class="flex" style="flex-direction:column;">
        <div class="flex">
            <div style="min-width:40px;max-width:40px;max-height:7px;background-color:#a758bf;margin:5px;"></div>
            <div class="whiteY">@Resources.Resource.IndTr</div>
        </div>
        <div class="flex">
            <div style="min-width:40px;max-width:40px;max-height:7px;background-color:coral;margin:5px;"></div>
            <div class="whiteY">@Resources.Resource.GrTr</div>
        </div>
    </div>
    <input type="hidden" id="idshed" value="@Model.room.sheduleId" />
    <input type="hidden" id="idroom" value="@Model.room.Id" />
    <h1 class="whiteY">@Model.room.Name &nbsp;&nbsp;&nbsp;</h1>
    <img src="@Model.room.Photo" style="width:100px;height:auto" alt="photo" />

</div>
     <div class="div_reg2_1" >
                @for (var t1 = 0; t1 < Model.times.Count; t1++)
                {

            <div class="flex div_reg2_1" style=" border:2px solid dimgray">
                <div class="flex" style="flex-direction:column;justify-content:center">
                    @if (t1 == 0)
                    {
                        <div style="max-width:100px;min-width:100px">
                            <h2 class="padd whiteY marg div_reg2_1" style="text-align:center;">@Resources.Resource.Mn</h2>
                        </div>
                    }
                    @if (t1 == 1)
                    {
                        <div style="max-width:100px;min-width:100px">
                            <h2 class="padd whiteY marg div_reg2_1" style="text-align:center;">@Resources.Resource.Tu</h2>
                        </div>
                    }
                    @if (t1 == 2)
                    {
                        <div style="max-width:100px;min-width:100px">
                            <h2 class="padd whiteY marg div_reg2_1" style="text-align:center;">@Resources.Resource.Wed</h2>
                        </div>
                    }
                    @if (t1 == 3)
                    {
                        <div style="max-width:100px;min-width:100px">
                            <h2 class="padd whiteY marg div_reg2_1" style="text-align:center;">@Resources.Resource.Th</h2>
                        </div >
                    }
                    @if (t1 == 4)
                    {
                        <div style="max-width:100px;min-width:100px">
                            <h2 class="padd whiteY marg div_reg2_1" style="text-align:center;">@Resources.Resource.Fr</h2>
                        </div>
                    }
                    @if (t1 == 5)
                    {
                        <div style="max-width:100px;min-width:100px">
                            <h2 class="padd whiteY marg div_reg2_1" style="text-align:center;">@Resources.Resource.Sat</h2>
                        </div>
                    }
                    @if (t1 == 6)
                    {
                        <div style="max-width:100px;min-width:100px">
                            <h2 class="padd whiteY marg div_reg2_1" style="text-align:center;">@Resources.Resource.Sun</h2>
                        </div>
                    }

                </div>
                <div class="flex" style="flex-wrap:wrap!important; ">
                        @for (var t = 0; t < Model.times[t1].Times.Count; t++)
                        {
                        <div class="info">
                            <form method="post" >

                                <input type="hidden" name="day" value="@t1" />
                                <input type="hidden" name="roomId" value="@Model.room.Id" />
                                <input type="hidden" name="roomName" value="@Model.room.Name" />
                              


                                @foreach (var it in Model.trainingInd)
                                {
                                    @if (@Model.times[t1].Times[t] != "Выходной" && @it.Time == @Model.times[t1].Times[t] && @it.Day == @t1 && it.RoomId == @Model.room.Id)
                                    {
                                        Model.flag = true;
                                        <div id=@t1+@Model.times[t1].Times[t]+@t1 class="inner-info sh_card2">

                                            <div style="min-width:20px;max-width:20px;min-height:6px;background-color:#a758bf;"></div>
                                            <h3>@Model.times[t1].Times[t]</h3>

                                            <div class="div_coach">
                                                <img src="@it.CoachPhoto" alt="photo">
                                                <span style="padding: 3px;">@it.CoachName</span>
                                            </div>
                                                @if (it.UserId == null)
                                                {
                                            <a class="btn btn-outline-dark buttonsGY" style="padding:2px;border-radius:3px;min-width:120px;text-align:center;max-height:30px;"  asp-area="" asp-route-Id="@it.Id" asp-controller="TrainingInd" asp-action="AddUserToTraining_UserSide">@Resources.Resource.Subs</a>
                                                }
                                                else
                                                {
                                                    @if (@it.UserId.ToString() == ViewBag.MyId)
                                                    {
                                                    <span style="color:#a758bf;font-size:15px;font-weight:bold">@Resources.Resource.YTr</span>
                                                    }
                                                    else
                                                    {
                                                <span class="whiteY">@Resources.Resource.NoAva</span>
                                                    }


                                                 @*   @if (@it.UserId.ToString() == ViewBag.MyId)
                                                   {
                                                    <input type="hidden" class="viewId" value="@it.Id"/>
                                                    <a href="javascript:void(0)" class="btn1n btn  btn-outline-light buttonsGY btnDelTR" id="@it.Id" >Отменить запись</a>
                                                   } *@
                                                }
                                            </div>
                                          
                                       
                                    }
                                }
                                @foreach (var it in Model.traininggroup)
                                {
                                   
                                    @if (@Model.times[t1].Times[t] != "Выходной" && @it.Time == @Model.times[t1].Times[t] && @it.Day == @t1 && it.Room.Id == @Model.room.Id)
                                    {
                                        Model.flag = true;
                                            <div class="inner-info sh_card2">

                                                <div style="min-width:20px;max-width:20px;min-height:6px;background-color:coral;"></div>
                                                <h3>@Model.times[t1].Times[t]</h3>
                                             
                                                <div class="div_coach">
                                                    <img src="@it.Coach.Photo" alt="photo">
                                                    <span style="padding: 3px;"> @it.Coach.Name</span>
                                                </div>
                                           
                                                @if (it.Number > it.Users.Count)
                                                {
                                                    bool nflag = false;
                                                    foreach (var us in it.Users)
                                                    {
                                                        if (us.Id == Convert.ToInt32(Context.Session.GetString("Id")))
                                                            nflag = true;
                                                    }

                                                    if (!nflag)
                                                    {

                                                <a class="btn btn-outline-dark buttonsGY"  style="padding:2px;border-radius:3px;min-width:120px;text-align:center;max-height:30px;"  asp-area="" asp-route-roomId="@it.Room.Id" asp-route-groupId="@it.Id" asp-controller="Users" asp-action="AddUserToTrainingGroup">@Resources.Resource.Subs</a>
                                                    }
                                                    else
                                                    {
                                                <span style="color:coral;font-size:15px;font-weight:bold">@Resources.Resource.YTr</span>
                                                       
                                                    }
                                                }
                                                else
                                                {
                                            <span class="whiteY">@Resources.Resource.NoAva</span>
                                                }
                                            </div>
                                          
                                    }
                                  
                                }

                            </form>
                        </div>
                        }
                </div>
            </div>

                }

     </div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".btnDelTR").click(function () {
            var buttonId = $(this).attr('id');
            var puth = "/Admin/MyAction/" + buttonId;
            $("<div id='dialogContent3'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(puth)
                .dialog({
                    title: "Подтвердите отмену записи на тренировку",
                    close: function () { $(this).remove(); },
                    dialogClass: 'myTitleClass',
                    modal: true,
                    resizable: false,
                    buttons: [{
                        class: "input_subm2",//
                        text: "Подтвердить",
                        click: function () {
                            $.ajax({
                                url: "@Url.Action("CancelAppointment_UserSide", "TrainingInd")",
                                type: "POST",
                                data: { id: buttonId },
                                datatype: "json",
                                success: function (response) {

                                    if (response) {
                                        $("#dialogContent3").remove();
                                        $("<div id='dialogContent4'></div>")
                                            .addClass("dialog")
                                            .appendTo("body")
                                            .load("/Admin/AddedPost")
                                            .dialog({
                                                title: "Вы отменили тренировку!",
                                                close: function () { window.location.href = "@Url.Action("Shedule", "Users")"; },
                                                dialogClass: 'myTitleClass',
                                                modal: true,
                                                resizable: false,
                                                buttons: [{
                                                    class: "input_subm2",//
                                                    text: "Назад",
                                                    click: function () {
                                                        window.location.href = "@Url.Action("Shedule", "Users")";
                                                    }
                                                }],
                                                open: function (event, ui) {
                                                    StyleDialog($(this).closest(".ui-dialog"));
                                                }
                                            });
                                    }
                                    else {
                                        let l2 = document.getElementById("error-login1");
                                        l2.style.display = "inline";
                                    }
                                }
                            });
                        }
                    }],
                    open: function (event, ui) {
                        StyleDialog($(this).closest(".ui-dialog"));
                    }
                });

        });
    });
</script>
