@model MakeSheduleView
@{
    ViewData["Title"] = "Timetables";
}

<div class="div_reg2 flex" style="justify-content:space-around;border:2px solid dimgray">


    <div style="padding-top:15px;">
        <a class="btn btn-outline-dark buttonsGY" style="padding:2px;border-radius:5px;min-width:120px;text-align:center;max-height:30px;" asp-area="" asp-controller="Time" asp-action="BackToRooms" class="btn btn-primary padd1 buttons1">@Resources.Resource.Back</a>
    </div>
    <div class="flex" style="flex-direction:column;">
    <div class="flex">
        <div style="min-width:40px;max-width:40px;max-height:7px;background-color:#a758bf;margin:5px;"></div>
            <div class="whiteY">@Resources.Resource.IndTr</div>
    </div>
        <div class="flex">
            <div style="min-width:40px;max-width:40px;max-height:7px;background-color:coral;margin:5px;"></div>
            <div class="whiteY">@Resources.Resource.GrTr</div>
        </div>
    </div>
    <input type="hidden" id="idshed" value="@Model.room.sheduleId" />
    <input type="hidden" id="idroom" value="@Model.room.Id" />
    <h1 class="whiteY">@Model.room.Name &nbsp;&nbsp;&nbsp;</h1>
     <img src="@Model.room.Photo" style="width:100px;height:auto" alt="photo" />    

    @if (Model.message == null)
    {
        <div style="padding-top:15px;">
        <a href="javascript:void(0)" id="btnDelShed" class="btn btn-outline-dark buttonsGY" style="padding:2px;border-radius:5px;min-width:120px;max-height:30px;text-align:center; ">
           @Resources.Resource.Delete&nbsp;&nbsp;@Resources.Resource.Shedule

        </a>
        </div>
    }
</div>
@if (Model.message == null)
{
    <div class="div_reg2_1" >
        @for (var t1 = 0; t1 < Model.times.Count; t1++)
        {
            <div class="flex div_reg2_1" style=" border:2px solid dimgray">
                <div class="flex" style="flex-direction:column;justify-content:center">
                    @if (t1 == 0)
                    {
                        <div style="max-width:100px;min-width:100px">
                            <h2 class="padd whiteY marg div_reg2_1" style="text-align:center;">Пн</h2>
                        </div>
                    }
                    @if (t1 == 1)
                    {
                        <div style="max-width:100px;min-width:100px">
                            <h2 class="padd whiteY marg div_reg2_1" style="text-align:center;">Вт</h2>
                        </div>
                    }
                    @if (t1 == 2)
                    {
                        <div style="max-width:100px;min-width:100px">
                            <h2 class="padd whiteY marg div_reg2_1" style="text-align:center;">Ср</h2>
                        </div>
                    }
                    @if (t1 == 3)
                    {
                        <div style="max-width:100px;min-width:100px">
                            <h2 class="padd whiteY marg div_reg2_1" style="text-align:center;">Чт</h2>
                        </div >
                    }
                    @if (t1 == 4)
                    {
                        <div style="max-width:100px;min-width:100px">
                            <h2 class="padd whiteY marg div_reg2_1" style="text-align:center;">Пт</h2>
                        </div>
                    }
                    @if (t1 == 5)
                    {
                        <div style="max-width:100px;min-width:100px">
                            <h2 class="padd whiteY marg div_reg2_1" style="text-align:center;">Сб</h2>
                        </div>
                    }
                    @if (t1 == 6)
                    {
                        <div style="max-width:100px;min-width:100px">
                            <h2 class="padd whiteY marg div_reg2_1" style="text-align:center;">Вс</h2>
                        </div>
                    }

                </div>


                <div class="flex" style="flex-wrap:wrap!important; ">
                    
                       
                     @for (var t = 0; t < Model.times[t1].Times.Count; t++)
                     {
                        <div >
                                <form method="post">
                                    <input type="hidden" name="day" value="@t1" />
                                    <input type="hidden" name="roomId" value="@Model.room.Id" />
                                    <input type="hidden" name="roomName" value="@Model.room.Name" />
                                    <input type="hidden" name="time" value="@Model.times[t1].Times[t]" />

                                    @foreach (var it in Model.trainingInd)
                                    {
                                        <div class="info">
                                        @if (@Model.times[t1].Times[t] != "Выходной" && @it.Time == @Model.times[t1].Times[t] && @it.Day == @t1 && it.RoomId == @Model.room.Id)
                                        {
                                            Model.flag = true;

                                            <div id=@t1+@Model.times[t1].Times[t]+@t1 class="inner-info sh_card2" >
                                             
                                                <div style="min-width:20px;max-width:20px;min-height:6px;background-color:#a758bf;"></div>
                                               <h3>@Model.times[t1].Times[t]</h3><br>
                                              
                                                <div class="div_coach">
                                                    <img src="@it.CoachPhoto" alt="photo" >
                                                    <span style="padding: 3px;">@it.CoachName</span>
                                                </div>
                                                @if (it.UserId == null)
                                                {
                                                    <span  style="display:block;text-align:center;font-weight:bold">
                                                        Нет клиента
                                                    </span>
                                                }
                                            </div>
                                            <div class="inner-info sh_card2" style="display:none;">
                                                <div style="min-width:20px;max-width:20px;min-height:6px;background-color:#a758bf;"></div>
                                                @if (it.UserId == null)
                                                {
                                                   @*  <p class="count_p" style="margin-bottom: -3px;height:48px;display:block;text-align:center;font-weight:bold">
                                                        Нет клиента
                                                    </p> *@
                                                    <div class="div_a_btn ">
                                                        <a class="a_button_green buttonsGY" asp-area="" asp-route-Id="@it.Id" asp-controller="TrainingInd" asp-action="AddUserToTrainingInd">@Resources.Resource.Add</a>
                                                    <a class="a_button_coral buttonsGY" asp-area="" asp-route-Id="@it.Id" asp-controller="TrainingInd" asp-action="UpdateTraining">@Resources.Resource.Edit</a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <p class="count_p" style="margin-bottom: -3px;height:48px;display:block">
                                                        <strong>Клиент:<br /></strong>@it.UserName
                                                    </p>
                                                <div class="div_a_btn ">
                                                    <a class="a_button_coral buttonsGY" style="float:left" asp-area="" asp-route-Id="@it.Id" asp-controller="TrainingInd" asp-action="UpdateTraining">@Resources.Resource.Edit</a>
                                                    </div>
                                                }
                                           
                                            </div>
                                            
                                        }
                                    </div>
                                    }
                                    @foreach (var it in Model.traininggroup)
                                    {
                                        <div class="info">
                                        @if (@Model.times[t1].Times[t] != "Выходной" && @it.Time == @Model.times[t1].Times[t] && @it.Day == @t1 && it.Room.Id == @Model.room.Id)
                                        {
                                            Model.flag = true;
                                            <div class="inner-info sh_card2" >
                                             
                                                <div style="min-width:20px;max-width:20px;min-height:6px;background-color:coral;"></div>
                                                <h3>@Model.times[t1].Times[t]</h3>
                                                <p class="count_p"> <strong>Мест занято:</strong> @it.Users.Count/@it.Number </p>
                                                <div class="div_coach">
                                                    <img src="@it.Coach.Photo" alt="photo">
                                                <span style="padding: 3px;"> @it.Coach.Name</span>
                                                </div>
                                            </div>
                                        <div class="inner-info sh_card2" style="display:none;">
                                                <div style="min-width:20px;max-width:20px;min-height:6px;background-color:coral;"></div>
                                                @if (it.Users.Count > 0)
                                                {                                          
                                                    <div class="flex" style="max-width:150px;max-height:75px;flex-direction:column;justify-content:center; overflow-y: scroll;overflow-x: hidden;">
                                                       
                                                        <div class="whiteY" style="text-align:center;font-size:8px;visibility:hidden">Клиенты:</div>
                                                       
                                                        @foreach (var a in it.Users)
                                                        {
                                                            <div class="whiteY" style="text-align:center;max-width:140px;">@a.Name</div>

                                                        }
                                                    </div>
                                                }
                                                else
                                                {
                                                    <p>Клиентов нет</p>
                                                }
                                                <div class="div_a_btn">
                                                    @if (it.Number > it.Users.Count)
                                                    {
                                                        <a asp-area="" asp-route-roomId="@it.Room.Id" asp-route-trgroupId="@it.Id" asp-controller="Users" asp-action="AddUsersToTrainingGroup" class="a_button_green">@Resources.Resource.Add</a>
                                                        <a asp-area="" asp-route-Id="@it.Id" asp-controller="Time" asp-action="DetailsTrainingGroup" class="a_button_green">@Resources.Resource.Edit</a>
                                                    }
                                                    else
                                                    {                                                
                                                        <a asp-area="" asp-route-Id="@it.Id" asp-controller="Time" asp-action="DetailsTrainingGroup" style="float:left" class="a_button_coral">@Resources.Resource.Edit</a>
                                                    }
                                                </div>
                                            </div>
                                           
                                        }
                                    </div>
                                    }
                                    @if (@Model.times[t1].Times[t] != "Выходной" && !@Model.flag)
                                    {
                                        <div id=@t1+@Model.times[t1].Times[t] class="sh_card" >
                                            <h3 style="margin-top: 10px;margin-left:7px;font-size: 26px;">@Model.times[t1].Times[t]</h3>
                                            <div class="div_a_btn1">
                                            <div>
                                                <span class="whiteY">@Resources.Resource.Ind</span><br />
                                            <input class=" buttonsGY" type="submit" formaction="AddIndTraining" value="@Resources.Resource.Add" style="min-width:150px;border-radius:3px;"/>
                                            </div>
                                            <div>
                                                <span class="whiteY">@Resources.Resource.Gr</span><br />
                                                <input class=" buttonsGY" type="submit" formaction="AddTrainingGroup" value="@Resources.Resource.Add" style="min-width:150px;border-radius:3px;" />
                                            </div>
                                            </div>
                                        </div>
                                    }
                                    @if (@Model.times[t1].Times[t] == "Выходной" && !@Model.flag)
                                    {
                                        <div class="sh_card" style="height: 207.19px;">
                                        <h2 style="margin-top: 60px;margin-left: -7px;">@Resources.Resource.oDay</h2>
                                        </div>

                                    }
                                    
                                </form>

                                @{Model.flag = false;}

                            
                        </div>

                        
                    }
                </div>
            </div>

        }
    </div>
}
@if (Model.message != null)
{
    <div class="center div_reg2" style="width:100%">
        <div style="display:flex;flex-direction:column;justify-content:space-around">
            <div>
                <h1 class="whiteY">@Resources.Resource.NoSh</h1>
            </div>
                <div class="flex padd" style="justify-content:center">
                    <form method="post">

                        <input type="hidden" name="Id" value="@Model.room.Id" />
                    <input type="submit" asp-controller="Time" asp-action="GetAllTimetable"
                    class=" buttonsGY" value="@Resources.Resource.Add   @Resources.Resource.Shedule "
                    style="padding:6px;border-radius:4px;"/>

                    </form>
                </div>
           
        </div>
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {

        $("#btnDelShed").click(function () {
            // var idS = $("#idshed").val();
            var idR = $("#idroom").val();
            var puth = "/Time/DeleteShedule/?RomId=" + idR;
            $("<div id='dialogContent3'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(puth)
                .dialog({
                    title: "Подтвердите!",
                    close: function () { $(this).remove(); },
                    dialogClass: 'myTitleClass',
                    modal: true,
                    resizable: false,
                    buttons: [{
                        class: "input_subm2",
                        text: "Удалить",
                        click: function () {
                            $.ajax({
                                url: "@Url.Action("DeleteSheduleInRoom", "Time")",
                                type: "POST",
                                data: { RomId: idR },
                                datatype: "json",
                                success: function (response) {

                                    if (response) {

                                        window.location.href = "@Url.Action("Room_Shedule", "Time")";
                                    }
                                }
                            });
                        }
                    }],
                    open: function (event, ui) {
                        StyleDialog($(this).closest(".ui-dialog"));
                    }
                });

        });

        function StyleDialog(dialog) {
            dialog
                .find(".ui-dialog-titlebar")
                .css({
                    "background-color": "#374566", // Фон заголовка
                    "color": "white" // Цвет текста заголовка black
                });
            dialog
                .css({
                    "box-shadow": "inset 0 - 3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em black",
                    "border-radius": "10px",
                    "border": "solid 1px #374566",
                    "background-color": "#374566"
                });
            dialog
                .find(".ui-dialog-content")
                .css({
                    "background-color": "#374566"
                });
            dialog
                .find(".ui-widget-content")
                .css({
                    "border": "none",
                    "background-color": "#374566"
                });
            dialog
                .find(".ui-dialog-buttonpane")
                .css({
                    "border-width": "0px",
                    "background-color": "#374566"
                });
        }


        var containerDivs = document.querySelectorAll('.info');

        containerDivs.forEach(function (container) {
            container.addEventListener('click', function () {
               
                var innerDivs = this.querySelectorAll('.inner-info');
              
                var visibleDiv = Array.from(innerDivs).find(div => div.style.display !== 'none');
                if (visibleDiv) {
                    visibleDiv.style.display = 'none'; 
                    var nextDiv = visibleDiv.nextElementSibling || innerDivs[0];
                    nextDiv.style.display = 'block'; 
                } else {
                    innerDivs[0].style.display = 'block';
                }
            });
        });


    });
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>