@model MakeSheduleView
@{
    ViewData["Title"] = "Timetables";
}


   
        <h1>@Model.room.Name</h1>
        <table style="border-collapse: collapse; border: 1px solid black;">
            <thead>
           <tr>
            <th class="padd1 white ">Понедельник</th>
            <th class="padd1 white">Вторник</th>
            <th class="padd1 white ">Среда</th>
            <th class="padd1 white ">Четверг</th>
            <th class="padd1 white">Пятница</th>
            <th class="padd1 white ">Суббота</th>
            <th class="padd1 white ">Воскресенье</th>
           </tr>
            </thead>
            <tbody>
        <tr >
                @for (var t1 = 0; t1 < Model.times.Count; t1++)
                    {

                <td >
                     @for (var t = 0; t < Model.times[t1].Times.Count; t++)
                            {

                        <form method="post" class="padd1 marg">
                                <input type="hidden" name="day" value="@t1" />
                                <input type="hidden" name="roomId" value="@Model.room.Id" />
                                <input type="hidden" name="roomName" value="@Model.room.Name" />

                                <input type="text" name="time" value="@Model.times[t1].Times[t]" style="width:100px;" readonly> <br />

                            
                                @foreach (var it in Model.trainingInd)
                                {
                                @if (@Model.times[t1].Times[t] != "Выходной" && @it.Time == @Model.times[t1].Times[t] && @it.Day == @t1 && it.RoomId == @Model.room.Id)
                                {
                                    Model.flag = true;
                                    <div id=@t1+@Model.times[t1].Times[t]+@t1>
                                        <span>Инд тренировка</span><br />
                                        <span>Тренер - @it.CoachName</span><br />
										<input type="submit" value="Записаться" class="btn btn-outline-dark" @* formaction="ToAddTrainingInd" *@ />
                                    </div>
                                   
                                }
                                }
                               @if (@Model.times[t1].Times[t] != "Выходной" && !@Model.flag)
                                {
                                    <div id=@t1+@Model.times[t1].Times[t]>
                                    <input type="submit" formaction="AddIndTraining" value="Добавить инд тренировку" /> <br />
                                    <input type="submit" formaction="AddGroupTraining" value="Добавить гр тренировку" />  <br />
                                    </div>
                                }
                           
                        </form>
                        Model.flag = false;
                    }

                        </td>
                    
                }
                </tr>

            </tbody>
        </table>
       <h1>@Model.message</h1>
<script>

</script>