@model MakeSheduleView
@{
    ViewData["Title"] = "Timetables";
}

<div class="div_reg2_1 flex" style="justify-content:space-around">


    <div style="padding-top:15px;">
        <a class="btn btn-outline-dark buttonsGY" style="padding:2px;border-radius:1px;min-width:120px;text-align:center;max-height:30px;" asp-area="" asp-controller="Time" asp-action="BackToRooms" class="btn btn-primary padd1 buttons1">@Resources.Resource.Back</a>
    </div>
    <div class="flex" style="flex-direction:column;">
    <div class="flex">
        <div style="min-width:40px;max-width:40px;max-height:7px;background-color:#a758bf;margin:5px;"></div>
            <div class="whiteY">Индивидуальные тренировки</div>
    </div>
        <div class="flex">
            <div style="min-width:40px;max-width:40px;max-height:7px;background-color:coral;margin:5px;"></div>
            <div class="whiteY">Групповые тренировки</div>
        </div>
    </div>
    <input type="hidden" id="idshed" value="@Model.room.sheduleId" />
    <input type="hidden" id="idroom" value="@Model.room.Id" />
    <h1 class="whiteY">@Model.room.Name &nbsp;&nbsp;&nbsp;</h1>
     <img src="@Model.room.Photo" style="width:100px;height:auto" alt="photo" />    

    @if (Model.message == null)
    {
        <div style="padding-top:15px;">
        <a href="javascript:void(0)" id="btnDelShed" class="btn btn-outline-dark buttonsGY" style="padding:2px;border-radius:1px;min-width:120px;max-height:30px;text-align:center; ">
           @Resources.Resource.Delete&nbsp;&nbsp;@Resources.Resource.Shedule

        </a>
        </div>
    }
</div>
@if (Model.message == null)
{
    <div class="shedule_div">
        <table class="shedule_table">
            <thead>
                <tr>
                    <th>Понедельник</th>
                    <th>Вторник</th>
                    <th>Среда</th>
                    <th>Четверг</th>
                    <th>Пятница</th>
                    <th>Суббота</th>
                    <th>Воскресенье</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @for (var t1 = 0; t1 < Model.times.Count; t1++)
                    {
                        <td>
                            @for (var t = 0; t < Model.times[t1].Times.Count; t++)
                            {
                                <form method="post">
                                    <input type="hidden" name="day" value="@t1" />
                                    <input type="hidden" name="roomId" value="@Model.room.Id" />
                                    <input type="hidden" name="roomName" value="@Model.room.Name" />
                                    <input type="hidden" name="time" value="@Model.times[t1].Times[t]" />

                                    @foreach (var it in Model.trainingInd)
                                    {
                                        @if (@Model.times[t1].Times[t] != "Выходной" && @it.Time == @Model.times[t1].Times[t] && @it.Day == @t1 && it.RoomId == @Model.room.Id)
                                        {
                                            Model.flag = true;

                                            <div id=@t1+@Model.times[t1].Times[t]+@t1 class="sh_card">
                                                <p class="p_type"> <strong>Инд.тренировка</strong></p>
                                                <h3>@Model.times[t1].Times[t]</h3><br>
                                                <div class="div_coach">
                                                    <img src="@it.CoachPhoto" alt="photo">
                                                    <p> <strong>Тренер:</strong><br />@it.CoachName</p>
                                                </div>
                                                @if (it.UserId == null)
                                                {
                                                    <p class="count_p" style="margin-bottom: -3px;height:48px;display:block;text-align:center;font-weight:bold">
                                                        Нет клиента
                                                    </p>
                                                    <div class="div_a_btn">
                                                        <a class="a_button_green" asp-area="" asp-route-Id="@it.Id" asp-controller="TrainingInd" asp-action="AddUserToTrainingInd">Записать</a>
                                                        <a class="a_button_coral" asp-area="" asp-route-Id="@it.Id" asp-controller="TrainingInd" asp-action="UpdateTraining">Просмотр</a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <p class="count_p" style="margin-bottom: -3px;height:48px;display:block">
                                                        <strong>Клиент:<br /></strong>@it.UserName
                                                    </p>
                                                    <div class="div_a_btn">
                                                        <a class="a_button_coral" style="float:left" asp-area="" asp-route-Id="@it.Id" asp-controller="TrainingInd" asp-action="UpdateTraining">Просмотр</a>
                                                    </div>
                                                }

                                            </div>
                                        }
                                    }

                                    @foreach (var it in Model.traininggroup)
                                    {
                                        @if (@Model.times[t1].Times[t] != "Выходной" && @it.Time == @Model.times[t1].Times[t] && @it.Day == @t1 && it.Room.Id == @Model.room.Id)
                                        {
                                            Model.flag = true;
                                           
                                            <div id=@t1+@Model.times[t1].Times[t]+@t1 class="sh_card">
                                                <p class="p_type"> <strong>Груп. тренировка</strong></p>
                                                <h3>@Model.times[t1].Times[t]</h3>
                                                <p class="count_p"> <strong>Мест занято:</strong> @it.Users.Count/@it.Number </p>
                                                <div class="div_coach">
                                                    <img src="@it.Coach.Photo" alt="photo">
                                                    <p> <strong>Тренер:</strong><br />@it.Coach.Name</p>
                                                </div>
                                                @if (it.Users.Count > 0)
                                                {
                                                    <select class="m_select">
                                                        <option class="m_option" value="0" selected>Клиенты:</option>
                                                        @foreach (var a in it.Users)
                                                        {
                                                            <option value="@a.Id" class="m_option">@a.Name</option>
                                                        }
                                                    </select>
                                                }
                                                else
                                                {
                                                    <select disabled class="m_select">
                                                        <option class="m_option" selected>Клиентов нет</option>
                                                    </select>
                                                }
                                                <div class="div_a_btn">
                                                    @if (it.Number > it.Users.Count)
                                                    {
                                                        <a asp-area="" asp-route-roomId="@it.Room.Id" asp-route-trgroupId="@it.Id" asp-controller="Users" asp-action="AddUsersToTrainingGroup" class="a_button_green">Записать</a>
                                                        <a asp-area="" asp-route-Id="@it.Id" asp-controller="Time" asp-action="DetailsTrainingGroup" class="a_button_coral">Просмотр</a>
                                                    }
                                                    else
                                                    {
                                                        //<span class=" white"> заполнена</span>
                                                        <a asp-area="" asp-route-Id="@it.Id" asp-controller="Time" asp-action="DetailsTrainingGroup" style="float:left" class="a_button_coral">Просмотр</a>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }
                                    @if (@Model.times[t1].Times[t] != "Выходной" && !@Model.flag)
                                    {
                                        <div id=@t1+@Model.times[t1].Times[t] class="sh_card" style="height: 207.19px;">
                                            <h3 style="margin-top: 10px;margin-left:7px;font-size: 26px;">@Model.times[t1].Times[t]</h3>
                                            <div class="div_a_btn1">
                                                <input type="submit" formaction="AddIndTraining" class="button_add_training m_bot" value="Добавить и.тренировку" />
                                                <input type="submit" formaction="AddTrainingGroup" class="button_add_training" value="Добавить г.тренировку" />
                                            </div>
                                        </div>
                                    }
                                    @if (@Model.times[t1].Times[t] == "Выходной" && !@Model.flag)
                                    {
                                        <div class="sh_card" style="height: 207.19px;">
                                            <h2 style="margin-top: 60px;margin-left: -7px;">@Model.times[t1].Times[t]</h2>
                                        </div>
                                    }
                                </form>
                                Model.flag = false;
                            }
                        </td>
                    }
                </tr>
            </tbody>
        </table>
    </div>

}
@if (Model.message != null)
{
    <div class="center">
        <div style="display:flex;flex-direction:column;">
            <div>
                <h1>@Model.message</h1><div style="display:flex;flex-direction:column;">
                </div><br /><br />
                <div>
                    <form method="post">

                        <input type="hidden" name="Id" value="@Model.room.Id" />
                        <input type="submit" asp-controller="Time" asp-action="GetAllTimetable" class="padd1 white" value="Составить расписание зала" />

                    </form>
                </div>
            </div>
        </div>
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {

        $("#btnDelShed").click(function () {
            // var idS = $("#idshed").val();
            var idR = $("#idroom").val();
            var puth = "/Time/DeleteShedule/?RomId=" + idR;
            $("<div id='dialogContent3'></div>")
                .addClass("dialog")
                .appendTo("body")
                .load(puth)
                .dialog({
                    title: "Подтвердите!",
                    close: function () { $(this).remove(); },
                    dialogClass: 'myTitleClass',
                    modal: true,
                    resizable: false,
                    buttons: [{
                        class: "input_subm2",
                        text: "Удалить",
                        click: function () {
                            $.ajax({
                                url: "@Url.Action("DeleteSheduleInRoom", "Time")",
                                type: "POST",
                                data: { RomId: idR },
                                datatype: "json",
                                success: function (response) {

                                    if (response) {

                                        window.location.href = "@Url.Action("Room_Shedule", "Time")";
                                    }
                                }
                            });
                        }
                    }],
                    open: function (event, ui) {
                        StyleDialog($(this).closest(".ui-dialog"));
                    }
                });

        });

        function StyleDialog(dialog) {
            dialog
                .find(".ui-dialog-titlebar")
                .css({
                    "background-color": "#374566", // Фон заголовка
                    "color": "white" // Цвет текста заголовка black
                });
            dialog
                .css({
                    "box-shadow": "inset 0 - 3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em black",
                    "border-radius": "10px",
                    "border": "solid 1px #374566",
                    "background-color": "#374566"
                });
            dialog
                .find(".ui-dialog-content")
                .css({
                    "background-color": "#374566"
                });
            dialog
                .find(".ui-widget-content")
                .css({
                    "border": "none",
                    "background-color": "#374566"
                });
            dialog
                .find(".ui-dialog-buttonpane")
                .css({
                    "border-width": "0px",
                    "background-color": "#374566"
                });
        }
    });
</script>