@model MakeSheduleView
@{
    ViewData["Title"] = "Timetables";
}



<h1>@Model.room.Name</h1>
<table style="border-collapse: collapse; border: 1px solid black;">
    <thead>
    <th style=" padding: 8px; border: 1px solid black;">Понедельник</th>
    <th style=" padding: 8px; border: 1px solid black;">Вторник</th>
    <th style=" padding: 8px; border: 1px solid black;">Среда</th>
    <th style=" padding: 8px; border: 1px solid black;">Четверг</th>
    <th style=" padding: 8px; border: 1px solid black;">Пятница</th>
    <th style=" padding: 8px; border: 1px solid black;">Суббота</th>
    <th style=" padding: 8px; border: 1px solid black;">Воскресенье</th>
    </thead>
    <tbody>
        <tr>
            @for (var t1 = 0; t1 < Model.times.Count; t1++)
            {
                <td>

                    @for (var t = 0; t < Model.times[t1].Times.Count; t++)
                    {
                        <form method="post">
                            <input type="hidden" name="day" value="@t1" />
                            <input type="hidden" name="roomId" value="@Model.room.Id" />
                            <input type="hidden" name="roomName" value="@Model.room.Name" />

                            <input type="text" name="time" value="@Model.times[t1].Times[t]" style="width:100px;" readonly> <br />
                            @foreach (var it in Model.trainingInd)
                            {
                                @if (@Model.times[t1].Times[t] != "Выходной" && @it.Time == @Model.times[t1].Times[t] && @it.Day == @t1 && it.RoomId == @Model.room.Id)
                                {
                                    <div id=@t1+@Model.times[t1].Times[t]+@t1>
                                        <span>Индивидуальная тренировка</span><br />
                                        <span>Тренер - @it.CoachName</span><br />
                                        <input type="submit" value="Записаться" class="btn btn-outline-dark" @* formaction="ToAddTrainingInd" *@ />
                                    </div>

                                }
                            }

                            @foreach (var it in Model.traininggroup)
                            {
                                @if (@Model.times[t1].Times[t] != "Выходной" && @it.Time == @Model.times[t1].Times[t] && @it.Day == @t1 && it.RoomId == @Model.room.Id)
                                {
                                    Model.flag = true;
                                    <div id=@t1+@Model.times[t1].Times[t]+@t1 class="flex">
                                        <div>
                                            <input type="hidden" name="groupId" value="@it.Id" />
                                            <span class="white">Групп.тренировка</span><br />
                                            <span class="white">Тренер : </span><br />
                                            <span class="white">@it.CoachName</span><br />

                                            <a asp-area="" asp-route-groupId="@it.Id" asp-controller="Time" asp-action="AddUsersToTrainingGroup">Добавление</a>
                                            @* <a type="submit" value="Записаться" class="btn btn-outline-dark" style="background-color:lightgreen" formaction="AddUsersToTrainingGroup">< *@
                                        </div>
                                        <img src="@it.CoachPhoto" style="width:50px;height:50px" alt="photo" class="marg" />
                                    </div>
                                }
                            }
                            @if (@Model.times[t1].Times[t] != "Выходной" && !@Model.flag)
                            {
                                <div id=@t1+@Model.times[t1].Times[t]>
                                    <input type="submit" formaction="AddIndTraining" value="Добавить индивидуальную тренировку" /> <br />
                                    <input type="submit" formaction="AddTrainingGroup" value="Добавить групповую тренировку" />  <br />
                                </div>
                            }
                        </form>

                    }

                </td>

            }
        </tr>

    </tbody>
</table>
<h1>@Model.message</h1>
<script>

</script>