<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportClub</title>
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
    <style> 
        .my_bg-white {
            background-color: #042940;
        }

        .my_bn{
            border:none;
        }

         
        .my_navbar-brand {
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
             
            font-size: 1.25rem;
            text-decoration: none;
            white-space: nowrap;
        }
         
    </style>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/SportClub.styles.css" asp-append-version="true" /> 
</head>
<body>

    <header>
        <div class="my_navbar">
            <a style="color:white;" asp-area="" asp-controller="Home" asp-action="Index">SportClub</a>
               
            @using (Html.BeginForm("ChangeCulture", "Home"))
            {
                <div class="dv1n2">
                    <select class="my_bg-white1 my_bn" style="color:white;padding: 2px 6px;width:max-content;text-align:center; " name="lang">
                        <option value="ru">Русский</option>
                        <option value="en">English</option>
                        <option value="uk">Українська</option>
                        <option value="de">Deutsch</option>
                        <option value="fr">Français</option>
                    </select>
                    <br />
                    <input class="my_bg-white1 my_bn" style="color:white;width:max-content;height:27px;text-align:center" type="submit" name="submit" value="@Resources.Resource.ChooseLang">
                    @* class=" btn-default c20 yellow-link p" *@
                </div>
            }


            @using Microsoft.AspNetCore.Http
            @if (Context.Session.GetString("admin") != null || Context.Session.GetString("client") != null || Context.Session.GetString("coach") != null)
            {
                @using (Html.BeginForm("Logout", "Login", FormMethod.Get))
                {
                   @*  <div class="navbar-collapse collapse d-sm-inline-flex c c1">

                        <span class="c20">
                            @Resources.Resource.Welcome, @Context.Session.GetString("login")&nbsp;&nbsp;
                        </span>
            <div> *@

                    <input style="float: right; color:white" class="dv1n1 my_bg-white1 my_bn" type="submit" value="@Resources.Resource.LogOut" />
                    <a class=" active" style="float: right;">@Resources.Resource.Welcome, @Context.Session.GetString("login")&nbsp;&nbsp;</a>
                       @* </div>
                    </div> *@
                }
            }
            @if (Context.Session.GetString("client") != null)
            {
                @using (Html.BeginForm("ClientProfile", "Users", FormMethod.Get))
                {
                    <input style="float: right;width:61px; color:white" class="dv1n1 my_bg-white1 my_bn" type="submit" value="Profile" />
                   @*  <div class="dv1n" style="border:solid 1px red">
                        <input class="y" type="submit" value="Profile" />&nbsp;
                    </div> *@
                }
            }
            else if (Context.Session.GetString("coach") != null)
            {
                @using (Html.BeginForm("CoachProfile", "Coach", FormMethod.Get))
                {
                    <input style="float: right;width:61px; color:white" class="dv1n1 my_bg-white1 my_bn" type="submit" value="Profile" />
                    @* <div class="dv1n">
                        <input type="submit" value="Profile" />&nbsp;
                    </div> *@
                }
            }
            else if (Context.Session.GetString("admin") != null)
            {
                @using (Html.BeginForm("AdminProfile", "Admin", FormMethod.Get))
                {
                    @* <div> *@
                    <input style="float: right;width:61px; color:white" class="dv1n1 my_bg-white1 my_bn" type="submit" value="Profile" />
                    @* &nbsp; *@
                    @* </div> *@
                }
            }
            else
            {

                <a style="float: right;" asp-area="" asp-controller="Login" asp-action="Login">@Resources.Resource.Login</a>

                <a asp-area="" asp-controller="Login" asp-action="RegistrationClient">@Resources.Resource.Registration</a>
            }

            @if (Context.Session.GetString("admin") != null)
            {
                <div class="mdropdown">
                    <button class="mdropbtn">
                        Регистрация...
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="mdropdown-content">
                        <a asp-area="" asp-controller="Login" asp-action="RegistrationAdmin">Зарегестрировать админа</a>
                        <a  asp-area="" asp-controller="Login" asp-action="RegistrationCoach">зарегестрировать тренера</a>
                        @* <a href="#">Link 3</a> *@
                    </div>
                </div>
                 
                        
                        @* <a class=" nav-link text-dark card2" asp-area="" asp-controller="Login" asp-action="RegistrationCoach">зарегестрировать тренера</a> *@
                  

                @* <a class="nav-link text-dark card2" asp-area="" asp-controller="Admin" asp-action="AddPost">Должности</a>
                <a class="nav-link text-dark card2" asp-area="" asp-controller="Time" asp-action="AddTimeT">создать время</a>*@
                <a style="width:max-content" asp-area="" asp-controller="Time" asp-action="AddTimetable">Создать график дня</a>
                @* <a class="nav-link text-dark card2" asp-area="" asp-controller="Time" asp-action="AddTimetable">Создать график дня</a>
                <a class="nav-link text-dark card2" asp-area="" asp-controller="Time" asp-action="ChoseRomm">Составить расписание для зала</a>
                <a class="nav-link text-dark card2" asp-area="" asp-controller="Admin" asp-action="AddSpeciality">Специальности</a>
                <a class="nav-link text-dark card2" asp-area="" asp-controller="Time" asp-action="Room_Shedule">Расписание зала</a> *@ 

                @using (Html.BeginForm("GetClients", "Users", FormMethod.Get))
                {
                    <input style="float: right;width:max-content; color:white" class="dv1n1 my_bg-white1 my_bn" type="submit" value="@Resources.Resource.Users" />
                    @* <div>
                        <input class="y" type="submit" value="@Resources.Resource.Users" />&nbsp;
                    </div> *@
                }
                @using (Html.BeginForm("GetCoaches", "Coach", FormMethod.Get))
                {
                    <input style="float: right;width:max-content; color:white" class="dv1n1 my_bg-white1 my_bn" type="submit" value="All Coaches" />
                    @* <div>
                        <input class="y" type="submit" value="All Coaches" />&nbsp;
                    </div> *@
                }
            }

        </div>
         
    </header>

    <br/>




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SportClub
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>