<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportClub</title>
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SportClub.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" />

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Style.css">

    <style>
        .my_bg-white {
            background-color: #042940;
        }

        .my_bn {
            border: none;
        }


        .my_navbar-brand {
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
            font-size: 1.25rem;
            text-decoration: none;
            white-space: nowrap;
        }

        .div_reg {
            background-color: #374566;
            box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em black;
            border-radius: 15px;
            width: 500px;
            margin-left: 400px;
        }

            .div_reg p {
                font-size: 32px;
                color: white;
                padding-top: 30px;
                text-align: center
            }

            .div_reg p1 {
                font-size: 20px;
                color: white;
                /* padding-top: 30px; */
                text-align: center
            }
    </style>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SportClub.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
        <div class="my_navbar">
            <a style="color:white;" asp-area="" asp-controller="Home" asp-action="Index">SportClub</a>
            
            @using (Html.BeginForm("ChangeCulture", "Home"))
            {
                <div class="dv1n2">
                    <select class="my_bg-white1 my_bn" style="color:white;padding: 2px 6px;width:max-content;text-align:center; " name="lang">
                        <option value="ru">Русский</option>
                        <option value="en">English</option>
                        <option value="uk">Українська</option>
                        <option value="de">Deutsch</option>
                        <option value="fr">Français</option>
                    </select>
                    <br />
                    <input class="my_bg-white1 my_bn" style="color:white;width:max-content;height:27px;text-align:center" type="submit" name="submit" value="@Resources.Resource.ChooseLang">

                </div>
            }


            @using Microsoft.AspNetCore.Http
            @if (Context.Session.GetString("admin") != null || Context.Session.GetString("client") != null || Context.Session.GetString("coach") != null)
            {
                @using (Html.BeginForm("Logout", "Login", FormMethod.Get))
                {
                    <input style="float: right; color:white" class="dv1n1 my_bg-white1 my_bn" type="submit" value="@Resources.Resource.LogOut" />
                    <a class=" active" style="float: right;">@Resources.Resource.Welcome, @Context.Session.GetString("login")&nbsp;&nbsp;</a>
                }
            }
            @if (Context.Session.GetString("client") != null)
            {
                @using (Html.BeginForm("ClientProfile", "Users", FormMethod.Get))
                {
                    <input style="float: right;width:max-content; color:white" class="dv1n1 my_bg-white1 my_bn" type="submit" value="@Resources.Resource.Profile" />
                }
            }
            else if (Context.Session.GetString("coach") != null)
            {
                
                @using (Html.BeginForm("MyShedule", "Coach", FormMethod.Get))
                {
                    <input style="float: right;width:max-content; color:white" class="dv1n1 my_bg-white1 my_bn" type="submit" value="@Resources.Resource.Shedule" />
                }

               
                @using (Html.BeginForm("CoachProfile", "Coach", FormMethod.Get))
                {
                    <input style="float: right;width:max-content; color:white" class="dv1n1 my_bg-white1 my_bn" type="submit" value="@Resources.Resource.Profile" />
                }
            }
            else if (Context.Session.GetString("admin") != null)
            {
                @using (Html.BeginForm("AdminProfile", "Admin", FormMethod.Get))
                {
                    <input style="float: right;width:max-content; color:white" class="dv1n1 my_bg-white1 my_bn" type="submit" value="@Resources.Resource.Profile" />
                }
            }
            else
            {
                <a href="javascript:void(0)" class="nav-link card2 btn-Login" style="color:white">Войти</a>
                <a asp-area="" asp-controller="Login" asp-action="RegistrationClient">@Resources.Resource.Registration</a>
            }

            @if (Context.Session.GetString("admin") != null)
            {
                <div class="mdropdown">
                    <button class="mdropbtn">
                        Регистрация...
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="mdropdown-content">
                        <a asp-area="" asp-controller="Login" asp-action="RegistrationAdmin">Зарегестрировать админа</a>
                        <a asp-area="" asp-controller="Login" asp-action="RegistrationCoach">Зарегестрировать тренера</a>
                    </div>
                </div>

                <div class="mdropdown">
                    <button class="mdropbtn">
                        Время/график
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="mdropdown-content">
                        <a asp-area="" asp-controller="Time" asp-action="AddTimeT">Cоздать время</a>
                        <a asp-area="" asp-controller="Time" asp-action="AddTimetable">Создать график дня</a>
                    </div>
                </div>

                @* <a class=" nav-link text-dark card2" asp-area="" asp-controller="Login" asp-action="RegistrationCoach">зарегестрировать тренера</a> *@
                @* <a class="nav-link text-dark card2" asp-area="" asp-controller="Admin" asp-action="AddPost">Должности</a>*@


                <div class="mdropdown">
                    <button class="mdropbtn">
                        Добавление...<i class="fa fa-caret-down"></i>
                    </button>
                    <div class="mdropdown-content">
                        <a asp-area="" asp-controller="Admin" asp-action="AddPost">Должности/Специальности</a>
                       @*  <a asp-area="" asp-controller="Admin" asp-action="AddSpeciality">Специальности</a> *@
                    </div>
                </div>

                @* <a class="nav-link text-dark card2" asp-area="" asp-controller="Time" asp-action="AddTimeT">создать время</a>
                 <a style="width:max-content" asp-area="" asp-controller="Time" asp-action="AddTimetable">Создать график дня</a>
            <a class="nav-link text-dark card2" asp-area="" asp-controller="Time" asp-action="AddTimetable">Создать график дня</a> *@
                <div class="mdropdown">
                    <button class="mdropbtn">
                        Зал...<i class="fa fa-caret-down"></i>
                    </button>
                    <div class="mdropdown-content">
                        <a asp-area="" asp-controller="Admin" asp-action="AddRoom">Добавление/Редактирование зала</a>
                     @*    <a asp-area="" asp-controller="Time" asp-action="ChoseRomm">Составить расписание для зала</a> *@
                        <a asp-area="" asp-controller="Time" asp-action="Room_Shedule">@Resources.Resource.Shedule</a>
                    </div>
                </div>
                @*<a class="nav-link text-dark card2" asp-area="" asp-controller="Time" asp-action="ChoseRomm">Составить расписание для зала</a>
            <a asp-area="" asp-controller="Admin" asp-action="AddSpeciality">Специальности</a>*@
                @* <a class="nav-link text-dark card2" asp-area="" asp-controller="Time" asp-action="Room_Shedule">Расписание зала</a>   *@

                <div class="mdropdown" style="float:right">
                    <button class="mdropbtn">
                        Списки..<i class="fa fa-caret-down"></i>
                    </button>
                    <div class="mdropdown-content">
                        @using (Html.BeginForm("GetClients", "Users", FormMethod.Get))
                        {
                            <input style="float: right;width:100%; color:white" class="dv1n1 my_bg-white1 my_bn" type="submit" value="@Resources.Resource.Users" />
                        }
                        @using (Html.BeginForm("GetCoaches", "Coach", FormMethod.Get))
                        {
                            <input style="float: right;width:100%; color:white" class="dv1n1 my_bg-white1 my_bn" type="submit" value="All Coaches" />
                        }
                        @using (Html.BeginForm("GetAdmins", "Admin", FormMethod.Get))
                        {
                            <input style="float: right;width:100%; color:white" class="dv1n1 my_bg-white1 my_bn" type="submit" value="All Admins" />
                        }
                        @using (Html.BeginForm("GetGroups", "Group", FormMethod.Get))
                        {
                            <input style="float: right;width:100%; color:white" class="dv1n1 my_bg-white1 my_bn" type="submit" value="All Groups" />
                        }
                        @using (Html.BeginForm("GetTrainingGroups", "TrainingGroup", FormMethod.Get))
                        {
                            <input style="float: right;width:100%; color:white" class="dv1n1 my_bg-white1 my_bn" type="submit" value="All Training Groups" />
                        }
                    </div>
                </div>

                @* <div class="mdropdown" style="float:right">
                    <button class="mdropbtn">
                        Группы..<i class="fa fa-caret-down"></i>
                    </button>
                    <div class="mdropdown-content">
                        @using (Html.BeginForm("CreateGroup", "Group", FormMethod.Get))
                        {
                            <input style="float: right;width:100%; color:white" class="dv1n1 my_bg-white1 my_bn" type="submit" value="Создать группу" />
                        }
                        @using (Html.BeginForm("CreateTrainingGroup", "TrainingGroup", FormMethod.Get))
                        {
                            <input style="float: right;width:100%; color:white" class="dv1n1 my_bg-white1 my_bn" type="submit" value="Создать групповую тренировку" />
                        } 
                    </div>
                </div> *@

                @* @using (Html.BeginForm("GetClients", "Users", FormMethod.Get))
            {
            <input style="float: right;width:max-content; color:white" class="dv1n1 my_bg-white1 my_bn" type="submit" value="@Resources.Resource.Users" />
            }
            @using (Html.BeginForm("GetCoaches", "Coach", FormMethod.Get))
            {
            <input style="float: right;width:max-content; color:white" class="dv1n1 my_bg-white1 my_bn" type="submit" value="All Coaches" />
            } *@
            }

        </div>

    </header>

    <br />




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SportClub
        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)


    <script>

        $(document).ready(function () {
            $("body").on("click", ".btn-Login", function (e) {
                e.preventDefault();
                $("<div id='dialogContent'></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .load("/Login/Login")
                    .dialog({
                        title: "АВТОРИЗАЦИЯ",
                        close: function () { $(this).remove(); },
                        dialogClass: 'myTitleClass',
                        modal: true,
                        resizable: false,
                        buttons: [{
                            class: "input_subm2",//
                            text: "Войти",
                            click: function () {
                                // "ВХОД" : function () {
                                $.ajax({
                                    url: "@Url.Action("Login", "Login")",
                                    type: "POST",
                                    data: $('#formLog').serialize(),
                                    datatype: "json",
                                    success: function (response) {

                                        if (response) {
                                            // location.reload(true);
                                            window.location.href = "@Url.Action("Index", "Home")";
                                        }
                                        else {
                                            let l2 = document.getElementById("error-login1");
                                            l2.style.display = "inline";
                                        }
                                    }
                                });
                            }
                        }],
                        open: function (event, ui) {
                            // Устанавливаем стили для заголовка
                            $(this).closest(".ui-dialog")
                                .find(".ui-dialog-titlebar")
                                .css({
                                    "background-color": "#374566", // Фон заголовка
                                    "color": "white" // Цвет текста заголовка black
                                });
                            $(this).closest(".ui-dialog")
                                .css({
                                    "box-shadow": "inset 0 - 3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em black",
                                    "border-radius": "10px",
                                    "border": "solid 1px #374566",
                                    "background-color": "#374566"
                                });
                            $(this).closest(".ui-dialog")
                                .find(".ui-dialog-content")
                                .css({
                                    "background-color": "#374566"
                                });
                            $(this).closest(".ui-widget-content")
                                .css({
                                    "border": "none",
                                    "background-color": "#374566"
                                });
                            $(this).closest(".ui-dialog")
                                .find(".ui-dialog-buttonpane")
                                .css({
                                    "border-width": "0px",
                                    "background-color": "#374566"
                                });
                        }
                    });
            
            });

          
        });



    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</body>
</html>