@model SportClub.BLL.DTO.TrainingIndDTO
<div class="flex" style="justify-content:center;justify-content:center">
    <div>
        <a class="btn btn-outline-light whiteY buttonsGY" asp-route-RoomId="@Model?.RoomId" asp-action="RoomWithShedule"
           asp-controller="Time" style="border:2px solid #2F4F4F"><strong>@Resources.Resource.Back</strong></a>
    </div>
<div style=" width: 500px; margin-left:30px; " class="div_reg2">
    <p class="font whiteY" style="font-size: 32px; padding-top: 30px; text-align: center">
		<span>@Resources.Resource.IndividualTraining</span>
    </p>
    <hr class="whiteY" />
    <div class="row">
        <div>
<form action="EditTraining" method="post">
    <div style="width: 550px;  justify-content: center; ">
        <div style="margin-left: 70px">
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="day" value="@Model.Day" />
        <input name="dayName" value="@Model.DayName" readonly class="font" style="width: 120px"/>
        <input name="time" value="@Model.Time" readonly class="font" style="width: 120px"/>
        <input type="hidden" name="roomId" value="@Model.RoomId" />
        <input name="roomName" value="@Model.RoomName" readonly class="font" style="width: 120px"/><br /> 
        </div>
                 <div class="flex" style="justify-content: center;">
                            <div>
          <span class="font whiteY">@Resources.Resource.Album</span><br />
                            <input name="coachName" value="@Model.CoachName" readonly class="font" style="width: 120px" />
                            </div><div style="margin-left: 20px">
                            <span class="font whiteY">@Resources.Resource.Us</span><br />
         <input name="userName" value="@Model.UserName" readonly class="font" style="width: 120px" />
                        </div>
                 </div>
                        <br />
        <div class="form-group" style="margin-left: 40px">
               <label  class="font whiteY">@Resources.Resource.Users</label>
            <select asp-for="Id" name="userId" class="form-control card _c7" class="font" style="width: 420px" asp-items="ViewBag.UserId"></select>
        </div>
        <br /><br />
                        <div class="flex" style=" justify-content:space-around;width: 500px; ">
                            <input type="submit" value="@Resources.Resource.AddSong" class="btn btn-outline-light buttonsGY" />
                            <a href="javascript:void(0)" class="btn1n btn  btn-outline-light btnDelTR buttonsGY" id="@Model.Id">@Resources.Resource.DeleteArt</a>
                            <a class="btn btn-outline-light buttonsGY" asp-area="" asp-route-Id="@Model.Id" asp-controller="TrainingInd" asp-action="CancelAppointment">@Resources.Resource.DelSong</a>
                           
                        </div>
        <br /><br />
        

    </div>
</form>
        </div>
    </div>
</div>
</div>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script>
                $(document).ready(function () {
                    $(".btnDelTR").click(function () {
                        var buttonId = $(this).attr('id');
                        var puth = "/Admin/MyAction/" + buttonId;
                        $("<div id='dialogContent3'></div>")
                            .addClass("dialog")
                            .appendTo("body")
                            .load(puth)
                            .dialog({
                                title: "Подтвердите удаление",
                                close: function () { $(this).remove(); },
                                dialogClass: 'myTitleClass',
                                modal: true,
                                resizable: false,
                                buttons: [{
                                    class: "input_subm2",//
                                    text: "Подтвердить",
                                    click: function () {
                                        $.ajax({
                                            url: "@Url.Action("DeleteTraining", "TrainingInd")",
                                            type: "POST",
                                            data: { id: buttonId },
                                            datatype: "json",
                                            success: function (response) {

                                                if (response) {
                                                    $("#dialogContent3").remove();
                                                    $("<div id='dialogContent4'></div>")
                                                        .addClass("dialog")
                                                        .appendTo("body")
                                                        .load("/Admin/AddedPost")
                                                        .dialog({
                                                            title: "Вы удалили тренировку!",
                                                            close: function () { window.location.href = "@Url.Action("RoomWithShedule", "Time")"; },
                                                            dialogClass: 'myTitleClass',
                                                            modal: true,
                                                            resizable: false,
                                                            buttons: [{
                                                                class: "input_subm2",//
                                                                text: "Назад",
                                                                click: function () {
                                                                    window.location.href = "@Url.Action("RoomWithShedule", "Time")";
                                                                }
                                                            }],
                                                            open: function (event, ui) {
                                                                StyleDialog($(this).closest(".ui-dialog"));
                                                            }
                                                        });
                                                }
                                                else {
                                                    let l2 = document.getElementById("error-login1");
                                                    l2.style.display = "inline";
                                                }
                                            }
                                        });
                                    }
                                }],
                                open: function (event, ui) {
                                    StyleDialog($(this).closest(".ui-dialog"));
                                }
                            });

                    });
                });
            </script>
