@{
    Layout = "_LayDop";
}
@{
    ViewData["Title"] = "SportClub";
}
@model  SportClub.Models.StartViewModel

     @if (Context.Session.GetString("admin") == null && Context.Session.GetString("client") == null && Context.Session.GetString("coach") == null)
     {      
    <div class="marquee">
        <div class="marquee-content">
            <span> @Resources.Resource.OpeningIsSoon &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; @Resources.Resource.HurryToPurchase &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  @Resources.Resource.Discount30  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  @Resources.Resource.AdditionalDiscount10 &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; @Resources.Resource.PhNumber &nbsp; +380503213213 </span> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
            <span> @Resources.Resource.OpeningIsSoon &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; @Resources.Resource.HurryToPurchase &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  @Resources.Resource.Discount30  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  @Resources.Resource.AdditionalDiscount10 &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; @Resources.Resource.PhNumber &nbsp; +380503213213 </span> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
        </div>
    </div>
     }
<div style="display:flex;flex-direction:column;">
     <div style="display:flex;flex-direction:column;justify-content:flex-end;width:100%;height:70px; background-size:cover;background-image: url('/Coaches/фон5.jpg');">
    <div style="text-align:center;color:#F0E68C;font-size:50px;font-weight:bold;">SportClub</div>
     </div>
     <div class="flex" style="flex-wrap:wrap;">
        <div class="image-container" style="margin:10px;padding:15px;">
            <img src="~/Coaches/спорт.png" width="380" height="250" alt="Photo" style="background-color:#2F4F4F;padding:2px;" />
            <div id="imm10" class="info-box">@Resources.Resource.SportIsHealth</div>
        </div>
        <div class="image-container" style="margin:10px;padding:15px;">
            <img src="~/Coaches/тренер1.jpg" width="380" height="250" alt="Photo" style="background-color:#2F4F4F;padding:2px;" />
            <div id="imm12" class="info-box">@Resources.Resource.IndividualTraining</div>
        </div>
        <div class="image-container" style="margin:10px;padding:15px;">
            <img src="~/Coaches/75.jpg" width="380" height="250" alt="Photo" style="background-color:#2F4F4F;padding:2px;" />
            <div id="imm11" class="info-box">@Resources.Resource.GroupTraining</div>
        </div>
    </div>
    <div id="inf10" class="inf" style="width:100%; background-size:cover;background-image: url('/Coaches/фон5.jpg');">
        @Resources.Resource.Info_div_1_1 <br />
        @Resources.Resource.Info_div_1_2 <br />
        @Resources.Resource.Info_div_1_3 <br />
        @Resources.Resource.Info_div_1_4
    </div>
    <div id="inf11" class="inf" style="display:none;width:100%; background-size:cover;background-image: url('/Coaches/фон5.jpg');">
        &nbsp; &nbsp;&nbsp; @Resources.Resource.Info_div_2_1<br />
        &nbsp; &nbsp;&nbsp; @Resources.Resource.Info_div_2_2
    </div>
    <div id="inf12" class="inf" style="display:none; background-size:cover;background-image: url('/Coaches/фон5.jpg');">
        &nbsp; &nbsp;&nbsp; @Resources.Resource.Info_div_3_1<br />
        @Resources.Resource.Info_div_3_2
    </div>
    <br />
    <div class="flex" style="flex-wrap:wrap;">
        <div class="image-container" style="margin:10px;padding:15px;">
            <img src="~/Coaches/пилатес5.jpg" width="380" height="250" alt="Photo" style="background-color:#2F4F4F;padding:2px;" />
            <div id="imm21" class="info-box">@Resources.Resource.Pilates</div>
        </div>
        <div class="image-container" style="margin:10px;padding:15px;">
            <img src="~/Coaches/фон.jpg" width="380" height="250" alt="Photo" style="background-color:#2F4F4F;padding:2px;" />
            <div id="imm22" class="info-box">@Resources.Resource.Crossfit</div>
        </div>
        <div class="image-container" style="margin:10px;padding:15px;">
            <img src="~/Coaches/йога.jpg" width="380" height="250" alt="Photo" style="background-color:#2F4F4F;padding:2px;" />
            <div id="imm23" class="info-box">@Resources.Resource.YogaClasses</div>
        </div>

    </div>
    
    <div id="inf21" class="inf" style="display:none;width:100%; background-size:cover;background-image: url('/Coaches/фон5.jpg');">
        &nbsp; &nbsp;&nbsp; @Resources.Resource.Info_div_4_1 <br />
        &nbsp; &nbsp;&nbsp; @Resources.Resource.Info_div_4_2
    </div>
    <div id="inf22" class="inf" style=" background-size:cover;background-image: url('/Coaches/фон5.jpg');">
        &nbsp; &nbsp;&nbsp; @Resources.Resource.Info_div_5_1 <br />
        &nbsp; &nbsp;&nbsp; @Resources.Resource.Info_div_5_2<br />       
    </div>
    <div id="inf23" class="inf" style="display:none; background-size:cover;background-image: url('/Coaches/фон5.jpg');">
        &nbsp; &nbsp;&nbsp;@Resources.Resource.Info_div_6_1<br />
        @Resources.Resource.Info_div_6_2<br /> @Resources.Resource.Info_div_6_3
    </div>
    
    <div id="allcoaches" style="display:flex;flex-direction:column;justify-content:flex-end;width:100%;height:30px;margin:20px;margin-left:0px; background-size:cover;background-image: url('/Coaches/фон5.jpg');">
        <div style="text-align:center;color:#EEE8AA;font-size:20px;">@Resources.Resource.OurTeam</div>
    </div>
    <div >
        <div class="flex " style="flex-wrap:wrap;justify-content:space-around;">
          @using Microsoft.AspNetCore.Http
            @foreach (var item in Model.coaches)
            {

                <div class="flex marg back_color " style="width:620px; padding:2px;height:330px;">
                     
                    <div >
                        <img src=@item.Photo width="330" height="270" alt="photo1" style="padding:10px;background-color:#2F4F4F;" />
                       
                        <h3 style="text-align:center;color:#F0E68C;border-bottom:1px solid black; box-shadow: 0px 0px 5px 0px #F0E68C;">@item.Name</h3>
                    </div>
                    <p style="padding:20px;padding-bottom:0px;color:#EEE8AA; background-size:cover; background-image: url('/Coaches/фон5.jpg'); 
                         margin-bottom:0px;text-align:center;">
                        @item.Description
                       </p>
                  </div>
             
            }
        </div>
    
    </div>
    <div id="allrooms" style="display:flex;flex-direction:column;justify-content:flex-end;width:100%;height:30px;margin:20px;margin-left:0px; background-size:cover;background-image: url('/Coaches/фон5.jpg');">
        <div style="text-align:center;color:#EEE8AA;font-size:20px;">@Resources.Resource.TrainingRooms</div>
    </div>
    <div>
        <div class="flex " style="flex-wrap:wrap;justify-content:space-around;">          
            @foreach (var item in Model.rooms)
            {

                <div class="flex " style="flex-direction:column;" >

                    <div style="padding:10px;background-color:#2F4F4F;margin-bottom:10px;padding-bottom:0px;">
                        <img src=@item.Photo width="600" height="470" alt="photoSportroom"  />
                        <h6 style="text-align:center;color:#F0E68C;border-bottom:1px solid black; box-shadow: 0px 0px 5px 0px #F0E68C;">@item.Name</h6>
                    </div>
                   
                </div>

            }
        </div>

    </div>
    <div id="abonem" style="display:flex;flex-direction:column;justify-content:flex-end;width:100%;height:30px;margin:20px;margin-left:0px; background-size:cover;background-image: url('/Coaches/фон5.jpg');">
        <div style="text-align:center;color:#EEE8AA;font-size:20px;">@Resources.Resource.Subcrip</div>
    </div>
    <div class="flex" style="flex-wrap:wrap;justify-content:space-around;">
        <div class="ticket">
            FAMILY
            <hr size="4" style="background-color: rgb(190, 62, 83);">
            <span class="s">19 000</span>
            <br><br>
            <span class="s1" style="border-bottom: 4px solid rgba(190, 62, 83,0.3); padding:5px; ">@Resources.Resource.OneYear</span>
            <br><br>
            <span class="s2" style=" opacity: 0.8;">
                @Resources.Resource.Pool<br>
                @Resources.Resource.Sauna<br>
                @Resources.Resource.ChildrensRoom<br>
                @Resources.Resource.Freeze30Days<br>
            </span>
           
        </div>
        <div class="ticket">
            PROFESSIONAL
            <hr size="4" style="background-color: rgb(231, 180, 71);">
            <span class="s">12 000</span>
            <br><br>
            <span class="s1" style="border-bottom: 4px solid rgba(231, 180, 71,0.3); padding:5px; ">@Resources.Resource.OneYear</span>
            <br><br>
            <span class="s2" style=" opacity: 0.8;">
                @Resources.Resource.Massage<br>@Resources.Resource.Pool<br>
                @Resources.Resource.Sauna<br>@Resources.Resource.Freeze30Days<br>
            </span>
            
        </div>
        <div class="ticket">
            STANDART
            <hr size="4" style="background-color: rgba(103, 134, 201,0.3);">
            <span class="s">10 000</span>
            <br><br>
            <span class="s1" style="border-bottom: 4px solid rgba(103, 134, 201,0.3); padding:5px; ">@Resources.Resource.OneYear</span>
            <br><br>
            <span class="s2" style=" opacity: 0.8;">
                @Resources.Resource.Pool<br>
                @Resources.Resource.Sauna<br>
                @Resources.Resource.ChildrensRoom<br>
                
            </span>
            
        </div>
        <div class="ticket">
            BASIC
            <hr size="4" style="background-color: rgb(52, 182, 69)">
            <span class="s">2 000</span>
            <br><br>
            <span class="s1" style="border-bottom: 4px solid rgba(52, 182, 69,0.3); padding:5px; ">@Resources.Resource.OneMonth</span>
            <br><br>
            <span class="s2" style=" opacity: 0.8;">
                @Resources.Resource.Pool<br>
                @Resources.Resource.Sauna<br>
                @Resources.Resource.ChildrensRoom<br>
                
            </span>
           
        </div>
        <div class="ticket">
            ONCE
            <hr size="4" style="background-color: gray">
            <span class="s" >600</span>
            <br><br>
            <span class="s1" style=" border-bottom: 4px solid rgba(105, 105, 105,0.3); padding:5px; ">@Resources.Resource.OneDay</span>
            <br><br>
            <span class="s2" style=" opacity: 0.8;">
                @Resources.Resource.Pool<br>
                @Resources.Resource.Sauna<br>
                @Resources.Resource.ChildrensRoom<br>
            </span>

        </div>
    </div>
    <div id="allrooms" style="display:flex;flex-direction:column;justify-content:flex-end;width:100%;height:30px;margin:20px;margin-left:0px; background-size:cover;background-image: url('/Coaches/фон5.jpg');">
        <div style="text-align:center;color:#F0E68C;font-size:20px;">SportClub</div>
    </div>
</div>
<a class="UpScroll whiteY" href="#sportclub"> @Resources.Resource.Up</a>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var colors = ['#FFFACD','#EEE8AA', '#F0E68C', '#BDB76B']; // Массив цветов
        var currentIndex = 0;
        var currentIndex2 = 0;
        var text = ["Скоро открытие нового спортзала!!!","Скидка на абонементы 30% !!!"]
        setInterval(function () {
            document.getElementById('color-changing-paragraph').style.color = colors[currentIndex];
            currentIndex++;

            if (currentIndex >= colors.length) {
                currentIndex = 0;
            }
        }, 2000);
        setInterval(function () {
            document.getElementById('color-changing-paragraph').textContent = text[currentIndex2];
            currentIndex2++;

            if (currentIndex2 >= text.length) {
                currentIndex2 = 0;
            }
        }, 4000);
        var im0 = document.getElementById('imm10');
        var inf0 = document.getElementById('inf10');
        var im1 = document.getElementById('imm11');
        var inf1 = document.getElementById('inf11');
        var im2 = document.getElementById('imm12');
        var inf2 = document.getElementById('inf12');

        var im21 = document.getElementById('imm21');
        var inf21 = document.getElementById('inf21');
        var im22 = document.getElementById('imm22');
        var inf22 = document.getElementById('inf22');
        var im23 = document.getElementById('imm23');
        var inf23 = document.getElementById('inf23');

        im1.addEventListener('click', function () {
            if (inf1.style.display === 'none') {
                inf1.style.display = 'block';
                inf2.style.display = 'none';               
                inf0.style.display = 'none';
            } else {
                inf1.style.display = 'none';
                inf2.style.display = 'none';           
                inf0.style.display = 'block';
            }
        });
        im2.addEventListener('click', function () {
            if (inf2.style.display === 'none') {
                inf2.style.display = 'block';
                inf1.style.display = 'none';               
                inf0.style.display = 'none';
            } else {
                inf1.style.display = 'none';
                inf2.style.display = 'none';
                inf0.style.display = 'block';
            }
        });
        im0.addEventListener('click', function () {
            if (inf0.style.display === 'none') {
                inf0.style.display = 'block';
                inf1.style.display = 'none';
                inf2.style.display = 'none';
               
            } else {
                inf1.style.display = 'none';
                inf2.style.display = 'none';               
                inf0.style.display = 'block';
            }
        });
        im21.addEventListener('click', function () {
            if (inf21.style.display === 'none') {
                inf21.style.display = 'block';
                inf22.style.display = 'none';
                inf23.style.display = 'none';
            } else {
                inf21.style.display = 'none';
                inf23.style.display = 'none';
                inf22.style.display = 'block';
            }
        });
        im22.addEventListener('click', function () {
            if (inf22.style.display === 'none') {
                inf22.style.display = 'block';
                inf21.style.display = 'none';
                inf23.style.display = 'none';
            } else {
                inf21.style.display = 'none';
                inf23.style.display = 'none';
                inf22.style.display = 'block';
            }
        });
        im23.addEventListener('click', function () {
            if (inf23.style.display === 'none') {
                inf23.style.display = 'block';
                inf22.style.display = 'none';
                inf21.style.display = 'none';
            } else {
                inf23.style.display = 'none';
                inf21.style.display = 'none';
                inf22.style.display = 'block';
            }
        });

        var scrollTo = '@ViewBag.ScrollTo';
        if (scrollTo) {
            $('html, body').animate({
                scrollTop: $('#' + scrollTo).offset().top
            }, 100);
        }

    });

   
</script>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}