@model IEnumerable<SportClub.BLL.DTO.RoomDTO>
<div class="flex">
    <div>
<a asp-action="Index" asp-controller="Home" style="margin-left: 10px;" class="btn1n btn  btn-outline-light buttons">Назад</a>
<br />
<h2 >Добавление спортзала:   |</h2>
</div>
<div class="padd1">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="white-color_size20 font">Введите название зала</label>
            <input name="Name" class="form-control" />          
        </div>
        <div class="form-group" style="margin-left: 40px;">
            <span class="white-color_size20 font">@Resources.Resource.Photo</span><br />
            <input class="white-color_size20" type="file" name="p" accept=".jpg, .jpeg, .png" /><br /><br />
        </div>
        <input class="btn1n btn btn-outline-light" formaction="AddRoom" type="submit" value="@Resources.Resource.Add" />
    </form>
</div>
</div>
<hr class="white" />
<h2>Все спортзалы:</h2>
<div class="flex" style="flex-wrap:wrap;">
@foreach (var item in Model)
{
        <div class="padd1" style="margin:10px;">           
        <img src=@item.Photo width="130" height="130" alt="Photo" style="background-color:wheat" />          
    <div>
        <h4 class="white"> @item.Name</h4>
    </div>
            <a class="btn1n btn btn-outline-light" asp-controller="Admin" asp-action="EditRoom" asp-route-id="@item.Id">@Resources.Resource.Edit</a>
            <a class="btn1n btn btn-outline-light" asp-controller="Admin" asp-action="DeleteRoom" asp-route-id="@item.Id">@Resources.Resource.Delete</a>
    </div>  
}
</div>