<h2 class=" b1 b3 c20 center pr"> @Resources.Resource.Speciality тренера</h2>
<div class="flex div_reg padd">


    <div class="padd white">
            <h4>Добавить специальность</h4>
            <form asp-controller="Login" method="post">
                @model SportClub.BLL.DTO.SpecialityDTO

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <span>@Resources.Resource.Name </span><br />
                    <input asp-for="Name" class="form-control card _c7" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" formaction="AddSpeciality" value="@Resources.Resource.Add" class="btn btn-primary c2" />
                </div>
            </form>

        </div>
    <div class="padd white">
            <h4> @Resources.Resource.Editing</h4>
            <form asp-controller="Admin" method="post">
                <label>@Resources.Resource.Speciality</label>
                <select asp-for="Id" class="form-control card _c7" asp-items="ViewBag.SpecialityId"></select>

                <br />
                <div class="form-group">
                    <input type="submit" formaction="DeleteSpeciality" value="@Resources.Resource.Delete" class="btn btn-primary c2 " /><br /><br />
                    <input type="submit" formmethod="get" formaction="EditSpeciality" value="@Resources.Resource.Edit" class="btn btn-primary c2" />
                </div>
            </form>
        </div>
   
</div>

@* <br>
<div>
    <div class="dv1">
        <h1 class="h1_n">Стили</h1>
        <div class="div_l1 div_l2n1">
            <div class="div_l2 div_l2n wh">

                <hr style="border:none;width:465px" />
                <a class="a_bt1 " asp-action="Create">Добавить стиль</a>

                <div class="div_l3n wh">
                    <div class="div_l4 wh">
                        @if (ViewBag.SpecialityId.Count != 0)
                        {
                            <table class="table1">
                                <thead>
                                    <tr>
                                        <th class="th1"> @Resources.Resource.Speciality </th>
                                        <th class="th1"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.SpecialityId)
                                    {
                                        <tr class="tr1">
                                            <td class="td1"> @item.StyleName </td>
                                            <td class="td1">
                                                <a class="a_bt2" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                                                <a class="a_bt2" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <br /> <br />
                        }
                        else
                        {
                            <h3 style="width:465px;text-align:center">Стилей нет</h3>
                        }
                    </div>
                </div>  <br /> <br />
            </div>
        </div>
    </div>
</div> *@